
<img src="https://www.python.org/static/community_logos/python-logo-generic.svg" height="500" width="500"> 

# <center> Грабёж, разбой и другие незаконные деяния с помощью Python. <br> <br> Завершаем наше первое дело. Шаг четвёртый. Гоняем модели по ЦИАН.   </center>
---------

## 1. Тренировочная и тестовая выборки

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')  # Стиль графиков прямо как в R! 
# Активация этой опции позволяет видеть все столбцы у датафреймов
pd.set_option('display.max_columns', None)
# Отображать 100 строк датафрейма
pd.set_option('display.max_rows', 100)
# Опция для отображения двуз знаков после запятой, а не шести
pd.set_option('precision', 2)
# Опция для отображения картинок
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
data = pd.read_csv('CIAN_ready.csv', header=0, sep=',' ,index_col=0)
data.head()

,Total_floor,Curent_floor,Price,TotalSq,pass_elevator,gruz_elevator,balkon,lodgya,sovmest_sanuz,razdeln_sanuz,Is_second,CentrDist,sell_type_214-FZ,sell_type_GSK_dogovor,sell_type_alternativa,sell_type_free,sell_type_pereustupka,sell_type_predvarit_dogovor,phone_no,phone_yes,parking_mnogour,parking_na_krishe,parking_nazemn,parking_otkritaya,parking_podzemn,age
0,7,9,1.23e+08,194.7,2,2,0,0,3.0,0.0,1,2.22,0,0,0,1,0,0,0,0,0,0,0,0,1,0.0
1,3,21,5.58e+06,54.0,1,1,1,0,0.0,1.0,0,18.83,0,0,0,1,0,0,0,0,0,0,0,0,0,5.0
2,5,9,5.20e+06,33.0,1,0,0,1,1.0,0.0,1,13.86,0,0,0,1,0,0,0,1,0,0,1,0,0,0.0
3,3,3,1.44e+06,29.0,0,0,0,0,1.0,0.0,1,22.44,0,0,0,1,0,0,0,0,0,0,1,0,0,52.0
4,1,9,1.54e+06,12.0,0,0,0,0,1.0,0.0,1,16.35,0,0,0,1,0,0,0,0,0,0,0,0,0,0.0

Разбиваем выборку на обучающую и тестовую части. Обратите внимание на то, что мы отбираем наблюдения в тестовую выборку абсолютно случайно.

In [9]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size = 0.2)

print(train.shape)
print(test.shape)

(4457, 26)
(1115, 26)

In [10]:
train.head( )

,Total_floor,Curent_floor,Price,TotalSq,pass_elevator,gruz_elevator,balkon,lodgya,sovmest_sanuz,razdeln_sanuz,Is_second,CentrDist,sell_type_214-FZ,sell_type_GSK_dogovor,sell_type_alternativa,sell_type_free,sell_type_pereustupka,sell_type_predvarit_dogovor,phone_no,phone_yes,parking_mnogour,parking_na_krishe,parking_nazemn,parking_otkritaya,parking_podzemn,age
3740,1,14,1.90e+06,15.0,1,1,0,0,1.0,0.0,1,18.46,0,0,0,1,0,0,0,0,0,0,1,0,0,15.0
310,2,5,6.00e+06,44.0,0,0,1,0,1.0,0.0,1,8.26,0,0,0,1,0,0,1,0,0,0,0,0,0,0.0
1013,2,21,1.59e+06,13.0,1,1,0,0,1.0,0.0,1,29.10,0,0,0,1,0,0,0,0,0,0,1,0,0,45.0
3997,2,3,1.99e+06,27.0,0,0,0,0,1.0,0.0,1,22.44,0,0,0,1,0,0,0,0,0,0,1,0,0,0.0
5148,3,3,1.99e+06,32.0,0,0,0,0,1.0,0.0,1,27.04,0,0,0,1,0,0,0,0,0,0,1,0,0,0.0

In [11]:
test.head()

,Total_floor,Curent_floor,Price,TotalSq,pass_elevator,gruz_elevator,balkon,lodgya,sovmest_sanuz,razdeln_sanuz,Is_second,CentrDist,sell_type_214-FZ,sell_type_GSK_dogovor,sell_type_alternativa,sell_type_free,sell_type_pereustupka,sell_type_predvarit_dogovor,phone_no,phone_yes,parking_mnogour,parking_na_krishe,parking_nazemn,parking_otkritaya,parking_podzemn,age
5467,1,9,1.79e+06,12.0,1,0,0,0,1.0,0.0,1,16.35,0,0,0,1,0,0,0,0,0,0,1,0,0,0.0
999,2,4,1.99e+06,38.0,0,0,0,1,1.0,0.0,1,18.45,0,0,0,1,0,0,1,0,0,0,0,0,1,0.0
5208,2,12,8.70e+06,64.0,0,0,0,1,1.0,0.0,1,14.37,0,0,1,0,0,0,0,1,0,0,1,0,0,3.0
714,12,18,4.36e+06,49.8,1,1,1,0,0.0,1.0,0,38.33,0,0,0,1,0,0,0,0,0,0,0,0,0,0.0
1115,2,3,1.99e+06,26.0,0,0,0,0,1.0,0.0,1,22.34,0,0,0,1,0,0,0,0,0,0,1,0,0,0.0

In [39]:
y_train, X_train = np.array(train['Price']), np.array(train.drop('Price',axis=1))
y_test, X_test = np.array(test['Price']), np.array(test.drop('Price',axis=1))

## 2. Константное предсказание.

В конце концов! Надо же с чем-то сравнивать...

In [55]:
def loss(y, y_pred):
    return(np.sum((y-y_pred)**2))

In [41]:
y_true = [1, 2, 3]
y_pred = [1, 1, 3]
accuracy_score(y_true, y_pred)

0.66666666666666663

In [60]:
const = np.mean(y_test)

In [62]:
# Смотрим на ошибку! 
loss(const,y_test)

2.0972039209158156e+32

## 3. Regression is my profession!

In [29]:
from sklearn import linear_model

In [30]:
# Создаём модель для линейной регрессии
regr = linear_model.LinearRegression()

In [46]:
# Обучаем модель! 
regr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [47]:
# Посмотрим на коэффициенты: 
print('Coefficients: \n', regr.coef_)

Coefficients:
 [ -2.72896821e+12  -2.21514557e+12   5.29386071e+12   1.63463782e+13
  -1.57866973e+12  -5.76046888e+13  -1.10564857e+14   1.79796994e+13
  -4.53285076e+13   1.39281006e+12   9.44786066e+11  -7.05851416e+13
  -4.74559750e+13   4.38606535e+12   1.53640640e+13  -7.58602217e+13
  -1.63820293e+13   4.41373978e+12  -4.95966471e+13  -9.57410906e+13
  -1.01562500e-01   2.55335117e+12  -1.79727496e+14   5.85094243e+13
   1.19653925e+11]

In [57]:
# Посмотрим на ошибку на тренировочной выборке:
loss(y_train,regr.predict(X_train))

2.5883953740201015e+32

In [58]:
# Посмотрим на ошибку на тестовой выборке:
loss(y_test,regr.predict(X_test))

1.2623096940594792e+32

In [ ]:
from sklearn.metrics import log_loss