<img src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/cian_main_theme.png" height="1000" width="1000"> 

<img align="center" src="https://www.cian.ru/promo/adv/assets/images/logo.svg" height="300" width="300"> 


# <center> Грабёж, разбой и другие незаконные деяния с помощью Python. <br> <br>  Отмываем ЦИАН.   </center>
---------

Данные заботливо распиханы нами по колоночкам и закутаны в csv-файлик. Однако есть одна важная проблема. Данные, которые мы скачали - грязные! Необходимо их как следуюет отмыть.

<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/otmyivanie-deneg-cherez-bankovskie-kartyi.jpg" height="400" width="400"> 


Обычно работа специалиста по анализу данных делится на два этапа: 

1. Сбор данных и постройка фич
2. Оценка моделей

Как вы уже поняли, больше всего времени обычно тратится на первый этап. В этой тетрадке мы попытаемся отмыть данные, а также поговорим о библиотеке `Pandas`, которая позволяет работать с датафреймами и о работе с переменными типа `str`. 

## 1. Pandas и регулярные выражения


<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/pandas.jpg" height="600" width="600"> 
 
`Pandas` - это пакет для работы с датафреймами. Вне всяких сомнений, `Pandas` - очень классная штука. Мы часто в ходе наших семинаров будем им пользоваться.

Где узнать больше про `Pandas`? 

* В первую очередь нужно посмотреть [тетрадку от  OpenDataScience (ODS) сообщества по Pandas](  https://habrahabr.ru/company/ods/blog/322626/). Именно эти ребята устраивают каждый год Datafest. В этом году они запустили на Хабре цикл статей по практическому анализу данных и машинному обучени. Цикл ещё не закончен. Всем, кто хочет в анализ данных рекомендую почитать. 

* `Pandas` постижим. Если вы хотите научиться использовать этот пакет, просто посмотреть тетрадки будет недостаточно. Нужно проделать самостоятельно пару упражнений с таблицами. В той же самой статье на хабре есть хорошая домашка по Pandas. К ней прилагается решение. Если вы просто смотрите на код, а не сами пытаетесь его написать, ВЫ НИКОГДА НЕ СМОЖЕТЕ ПИСАТЬ КОД! 

* [Официальная документация Pandas](http://pandas.pydata.org/pandas-docs/stable/index.html). Помните, что документация наш друг. Если вы забыли как что-то делается или не знали как что-то делается, всегда можно найти ответы в хорошей документации. В частности, можно почитать неплохое введение [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html).

* [PDF-шпаргалка по библиотеке](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

* [Отличная презентация Александра Дьяконова «Знакомство с Pandas»](https://alexanderdyakonov.wordpress.com/2015/11/06/%D0%B7%D0%BD%D0%B0%D0%BA%D0%BE%D0%BC%D1%81%D1%82%D0%B2%D0%BE-%D1%81-pandas-%D1%81%D0%BB%D0%B0%D0%B9%D0%B4%D1%8B/)

* На гитхабе есть [подборка упражнений по Pandas](https://github.com/guipsamora/pandas_exercises/) и еще один [полезный репозиторий](https://github.com/TomAugspurger/effective-pandas) (на английском языке),,

P.S. Я не просто тупо скопировал все эти ссылки из статьи на Хабре. На самом деле я большую часть этих материалов просмотрел! 


Итак, подгружаем пакеты, а также наши грязные данные...

In [1]:
import pandas as pd
data = pd.read_csv('CIAN_data1.csv', header=0, sep=',' ,index_col=0)

# Взглянем на нашу табличку!
data.head()

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Комнаты,Координаты,Лифт:,Метро,...,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Этаж:,Хрефы
0,нет,улица,NaN,NaN,7\n мин.\n \n ...,"30,8 м2",2-комн. кв.,"[37.544467,55.860792]",2 пасс. + 1 груз.,"Петровско-Разумовская,",...,NaN,NaN,NaN,NaN,нет,"вторичка, \n кирпично-монолитный",свободная,6 601 335 руб.,2 / 6,https://www.cian.ru/sale/flat/156522396/
1,нет,улица,"2,70 м",1965.0,11\n мин.\n \n ...,35 м2,2-комн. кв.,"[37.638216,55.786151]",1 пасс. + 1 груз.,"Проспект Мира,",...,NaN,NaN,NaN,NaN,NaN,"вторичка, \n блочный",свободная,9 700 000 руб.,1 / 12,https://www.cian.ru/sale/flat/152531280/
2,2 лодж.,двор и улица,NaN,NaN,15\n мин.\n \n ...,60 м2,3-комн. кв.,"[37.479888,55.785422]",2 пасс. + 2 груз.,"Октябрьское поле,",...,NaN,NaN,NaN,NaN,NaN,вторичка,свободная,17 500 000 руб.,18 / 25,https://www.cian.ru/sale/flat/154680416/
3,–,–,NaN,2014.0,15\n мин.\n \n ...,–,студия,"[37.552543,55.491804]",–,"Бунинская аллея,",...,нет,NaN,NaN,NaN,NaN,вторичка,свободная,1 290 000 руб.,3 / 3,https://www.cian.ru/sale/flat/156788999/
4,–,–,NaN,NaN,25\n мин.\n \n ...,26 м2,студия,"[37.322593,55.648382]",–,"Киевская,",...,NaN,NaN,1.0,NaN,NaN,вторичка,свободная,1 440 000 руб.,3 / 3,https://www.cian.ru/sale/flat/153866608/

Немного поизучаем нашу табличку. Например, выясним какая у неё размерность

In [2]:
data.shape

(60000, 27)

Посмотрим сводную информацию о наших данных.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60000 entries, 0 to 59999
Data columns (total 27 columns):
Балкон:                  60000 non-null object
Вид из окна:             60000 non-null object
Высота потолков:         23442 non-null object
Год постройки:           25990 non-null float64
До метро                 44574 non-null object
Жилая площадь:           60000 non-null object
Комнаты                  60000 non-null object
Координаты               60000 non-null object
Лифт:                    60000 non-null object
Метро                    49112 non-null object
Общая площадь:           60000 non-null object
Отделка:                 128 non-null object
Парковка:                27679 non-null object
Площадь комнат:          60000 non-null object
Площадь кухни:           60000 non-null object
Раздельных санузлов:     10990 non-null float64
Ремонт:                  40164 non-null object
Санузел:                 11707 non-null object
Сдача ГК:                18680 non-null object
Совмещенных санузлов:    38000 non-null float64
Статус помещения:        336 non-null object
Телефон:                 11481 non-null object
Тип дома:                60000 non-null object
Тип продажи:             59885 non-null object
Цена                     60000 non-null object
Этаж:                    60000 non-null object
Хрефы                    60000 non-null object
dtypes: float64(3), object(24)
memory usage: 12.8+ MB

Посмотрим на названия колонок!

In [4]:
data.columns

Index(['Балкон:', 'Вид из окна:', 'Высота потолков:', 'Год постройки:',
       'До метро', 'Жилая площадь:', 'Комнаты', 'Координаты', 'Лифт:', 'Метро',
       'Общая площадь:', 'Отделка:', 'Парковка:', 'Площадь комнат:',
       'Площадь кухни:', 'Раздельных санузлов:', 'Ремонт:', 'Санузел:',
       'Сдача ГК:', 'Совмещенных санузлов:', 'Статус помещения:', 'Телефон:',
       'Тип дома:', 'Тип продажи:', 'Цена', 'Этаж:', 'Хрефы'],
      dtype='object')

Начинаем очищать всё это дело от ерунды. Итак, посмотрим на первый столбец! Попутно выясним, что его можно вызвать несколькими разными способами...

In [5]:
data['Этаж:'][:10]

0      2 / 6
1     1 / 12
2    18 / 25
3      3 / 3
4      3 / 3
5     2 / 21
6      1 / 3
7      1 / 9
8      1 / 9
9      1 / 3
Name: Этаж:, dtype: object

Данные приведены в формате на каком этаже квартира/сколько в дом этажей. По уму, эту колонку нужно разбить на две части. Одна будет отвечать за этажность дома, а вторая за этажность квартиры. Каждая переменная в данном столбце обладает типом str.

In [6]:
floors = data['Этаж:']
type(floors[1])

str

Изучим очень крутой метод для работы с текстами, а именно `.split`. Он позволяет разбить какую-то текстовую фразу на части по какому-то символу. Например, по пробелу или букве а...

In [7]:
x = 'Ахмеду пришла стипуха, он купил себе самокат!'

print(x.split(" "))
print(x.split("а"))

['Ахмеду', 'пришла', 'стипуха,', 'он', 'купил', 'себе', 'самокат!']
['Ахмеду пришл', ' стипух', ', он купил себе с', 'мок', 'т!']

In [8]:
floors[1].split('\xa0/\xa0')

['1', '12']

In [9]:
[floor for floor in floors if len(floor) <= 2]

['3',
 '2',
 '1',
 '6',
 '1',
 '3',
 '2',
 '2',
 '3',
 '3',
 '2',
 '6',
 '2',
 '2',
 '2',
 '2',
 '5',
 '1',
 '2',
 '2',
 '2',
 '6',
 '3',
 '2',
 '13',
 '3',
 '2',
 '2',
 '2',
 '6',
 '2',
 '3']

Разобьём каждый элемент в списке этажей на две частички. Получим вектора из этажей.

In [10]:
[floor.split('\xa0/\xa0') for floor in floors][:10]

[['2', '6'],
 ['1', '12'],
 ['18', '25'],
 ['3', '3'],
 ['3', '3'],
 ['2', '21'],
 ['1', '3'],
 ['1', '9'],
 ['1', '9'],
 ['1', '3']]

In [11]:
new_floors0 =  [int(floor.split('\xa0/\xa0')[0]) for floor in floors] 

new_floors0[:10]

[2, 1, 18, 3, 3, 2, 1, 1, 1, 1]

In [12]:
# Поначалу тут были две одинаковые строки. Но при расширении выборки, вторая строка с кодом перестала работать.
# new_floors1 =  [int(floor.split('\xa0/\xa0')[1]) for floor in floors] 

# Выяснилось, что встречаются данные, в которых не указана вторая цифра в этажности. К сожалению, так бывает 
# и иногда код, который работал вчера, перестаёт работать сегодня. В таких случаях приходится прописывать 
# конструкцию try-except. Привыкайте к этому.

new_floors1 =  [ ]
for floor in floors: 
    try:
        new_floors1.append(int(floor.split('\xa0/\xa0')[1]))
    except Exception:
        new_floors1.append(int(floor.split('\xa0/\xa0')[0]))

In [13]:
new_floors1[:10]

[6, 12, 25, 3, 3, 21, 3, 9, 9, 3]

In [14]:
x = [1,2,3]
x.append(4)
x

[1, 2, 3, 4]

Удалим из нашей таблички старый столбец.

In [15]:
data.drop('Этаж:',axis=1).head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Комнаты,Координаты,Лифт:,Метро,...,Ремонт:,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Хрефы
0,нет,улица,NaN,NaN,7\n мин.\n \n ...,"30,8 м2",2-комн. кв.,"[37.544467,55.860792]",2 пасс. + 1 груз.,"Петровско-Разумовская,",...,NaN,NaN,NaN,NaN,NaN,нет,"вторичка, \n кирпично-монолитный",свободная,6 601 335 руб.,https://www.cian.ru/sale/flat/156522396/
1,нет,улица,"2,70 м",1965.0,11\n мин.\n \n ...,35 м2,2-комн. кв.,"[37.638216,55.786151]",1 пасс. + 1 груз.,"Проспект Мира,",...,отсутствует,NaN,NaN,NaN,NaN,NaN,"вторичка, \n блочный",свободная,9 700 000 руб.,https://www.cian.ru/sale/flat/152531280/

Нууу вроде бы удалили... Уверены?! А давайте проверим!

In [16]:
data.head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Комнаты,Координаты,Лифт:,Метро,...,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Этаж:,Хрефы
0,нет,улица,NaN,NaN,7\n мин.\n \n ...,"30,8 м2",2-комн. кв.,"[37.544467,55.860792]",2 пасс. + 1 груз.,"Петровско-Разумовская,",...,NaN,NaN,NaN,NaN,нет,"вторичка, \n кирпично-монолитный",свободная,6 601 335 руб.,2 / 6,https://www.cian.ru/sale/flat/156522396/
1,нет,улица,"2,70 м",1965.0,11\n мин.\n \n ...,35 м2,2-комн. кв.,"[37.638216,55.786151]",1 пасс. + 1 груз.,"Проспект Мира,",...,NaN,NaN,NaN,NaN,NaN,"вторичка, \n блочный",свободная,9 700 000 руб.,1 / 12,https://www.cian.ru/sale/flat/152531280/

Блин... Ничего не получилось. Глупый Python. Ничего не хочет делать. Плохо работает. Ну его нафиг. Буду обрабатывать таблицы в экселе. Обажаю майкрософт и Билла Гейтса! 

<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/s7VPrY01mK8.jpg" height="500" width="500"> 

На самом деле нет. Всё получилось. Просто нужно сохранить новую табличку с удалённой строкой. Либо подписать в опциях `inplace = True`. Это сохранит все изменения, сделанные нами в таблице.

In [17]:
data.drop('Этаж:',axis=1,inplace = True)

# Перезапись приведёт к аналоничному результату
# data = data.drop('Этаж:',axis=1)
data.head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Комнаты,Координаты,Лифт:,Метро,...,Ремонт:,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Хрефы
0,нет,улица,NaN,NaN,7\n мин.\n \n ...,"30,8 м2",2-комн. кв.,"[37.544467,55.860792]",2 пасс. + 1 груз.,"Петровско-Разумовская,",...,NaN,NaN,NaN,NaN,NaN,нет,"вторичка, \n кирпично-монолитный",свободная,6 601 335 руб.,https://www.cian.ru/sale/flat/156522396/
1,нет,улица,"2,70 м",1965.0,11\n мин.\n \n ...,35 м2,2-комн. кв.,"[37.638216,55.786151]",1 пасс. + 1 груз.,"Проспект Мира,",...,отсутствует,NaN,NaN,NaN,NaN,NaN,"вторичка, \n блочный",свободная,9 700 000 руб.,https://www.cian.ru/sale/flat/152531280/

Добавляем новые столбцы... Назовём их Total_floor и Curent_floor.

In [18]:
data['Total_floor'] =  new_floors1
data['Curent_floor'] = new_floors0 
data.head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Комнаты,Координаты,Лифт:,Метро,...,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Хрефы,Total_floor,Curent_floor
0,нет,улица,NaN,NaN,7\n мин.\n \n ...,"30,8 м2",2-комн. кв.,"[37.544467,55.860792]",2 пасс. + 1 груз.,"Петровско-Разумовская,",...,NaN,NaN,NaN,нет,"вторичка, \n кирпично-монолитный",свободная,6 601 335 руб.,https://www.cian.ru/sale/flat/156522396/,6,2
1,нет,улица,"2,70 м",1965.0,11\n мин.\n \n ...,35 м2,2-комн. кв.,"[37.638216,55.786151]",1 пасс. + 1 груз.,"Проспект Мира,",...,NaN,NaN,NaN,NaN,"вторичка, \n блочный",свободная,9 700 000 руб.,https://www.cian.ru/sale/flat/152531280/,12,1

Работать с изначальной таблицей не очень хорошая идея. Если мы однажды удалим через опцию `inplace` из неё столбец, мы больше никогда не сможем обратиться к нему. Придётся подгружать таблицу заново.

In [19]:
# Нам понадобилось перезапустить кусок кода, мы сделали это, а таблица уже удалена...
data.drop('Этаж:',axis=1,inplace = True)

ValueError: labels ['Этаж:'] not contained in axis

Именно поэтому мы будем работать с двумя таблицами. Новой и старой! 

Создадим свеженькую таблицу и поместим в неё свои пожитки.

In [20]:
df = pd.DataFrame( )
df['Total_floor'] =  new_floors1
df['Curent_floor'] = new_floors0
df.head()

   Total_floor  Curent_floor
0            6             2
1           12             1
2           25            18
3            3             3
4            3             3

## 2. Регулярные выражения

Продолжаем очистку!

In [21]:
data['Цена'][:5]

0     6 601 335 руб.
1     9 700 000 руб.
2    17 500 000 руб.
3     1 290 000 руб.
4     1 440 000 руб.
Name: Цена, dtype: object

In [22]:
data['Цена'][1].replace("руб.", "")

'9 700 000 '

In [23]:
data['Цена'][1].replace(" ", "")

'9700000руб.'

Хотелось бы избавиться и от пробелов и от слова `руб.`, однако делать это в два применения команды, как ниже не очень хочется...

In [24]:
data['Цена'][1].replace(" ", "").replace("руб.", "")

'9700000'

Ну и хорошо, что не хочется! Пришло время подгрузить новый пакет... 

[`re`](https://docs.python.org/2/library/re.html) это прекрасная библиотека, которая позволяет использовать регулярные выражения, а также более удобно работать с текстовыми данными. 

Регулярные выражение - это очень стнные конструкции, которые позволяют выцеплять из текстов разные закономерности. Например, решим небольшую задачку!

In [25]:
import re
# Задача: вернуть список доменов из списка адресов электронной почты
text = 'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz'
re.findall(r'@\w+',text)

['@gmail', '@test', '@analyticsvidhya', '@rest']

Регулярное выражение `\w` обозначает любую цифру или букву. `+` означает 1 и более вхождений шаблона слева. `\w+` означает "Вытаскивай мне все цифры и буквы, пока не прервётся слово. 

Нам не хватает точек и комов! Попросим Python добавить их.

In [26]:
re.findall(r'@\w+.\w+',text)

['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']

На самом деле существует довольно большое количество самых разных регулярных выражений, позволяющих очень лихо работать с текстами. Вот только учить их лениво...

Если вы хотите подробнее поизучать регулярные выражения, а не только гуглить на стаковерфлоу необходимые вам паттерны, как делаю я, то вот идеальный сайт для изучения - http://regexr.com/

Кроме регулярных выражений, в пакете **re** лежат удобные функции для текстовых данных. Если вы ещё не забыли, мы подгружали этот пакет для того, чтобы уничтожить рубли и пробелы. Регулярное выражение `\d` означает цифру. Выражение `\D` означает всё кроме цифры. Удалим всё, кроме цифр.

In [27]:
re.sub('\D' ,'',data['Цена'][1])

'9700000'

In [28]:
# Обрабатываем колонку! 
price = [float(re.sub('\D' ,'',item)) for item in data['Цена']]
df['Price'] = price 

df.head()

   Total_floor  Curent_floor       Price
0            6             2   6601335.0
1           12             1   9700000.0
2           25            18  17500000.0
3            3             3   1290000.0
4            3             3   1440000.0

## 3. Мы чистим, чистим, чистим.

### 3.1 Чистим площади

Вытащим разные площади квартир.

In [29]:
data['Площадь кухни:'][:10]

0    12,9 м2
1       9 м2
2      11 м2
3          –
4          –
5       3 м2
6      10 м2
7       3 м2
8          –
9    10,8 м2
Name: Площадь кухни:, dtype: object

Чёрт! Сколько же проблем. Мы должны: 

* Убрать подписи `m2` 
* Заменить `,` на `.`
* Заменить – на NaN  (сделаем это в самом конце)

In [30]:
print(data['Площадь кухни:'][2])
# Сначала убираем м2 
step1 = re.sub('\xa0м2' ,'',data['Площадь кухни:'][2])
print(step1)
# Меняем запятые на точки 
step2 = re.sub(',','.',step1)
print(step2)

11 м2
11
11

Напишем функцию, которая обработает все площади.

In [31]:
def SqMaker(text_vector):
    step1 = [re.sub('\xa0м2' ,'',text) for text in text_vector]
    step2 = [re.sub(',','.', text) for text in step1]
    return(step2)

In [32]:
df['TotalSq'] = SqMaker(data['Общая площадь:'])
df['LiveSq'] = SqMaker(data['Жилая площадь:'])
df['KichSq'] = SqMaker(data['Площадь кухни:'])
df['RoomSq'] = SqMaker(data['Площадь комнат:'])

# Обратите внимание, что люди очень непредсказуемо заполняют графу, которая отвечает за площадь комнат. 
df.head()

   Total_floor  Curent_floor       Price TotalSq LiveSq KichSq       RoomSq
0            6             2   6601335.0    52.4   30.8   12.9  12.76-18.05
1           12             1   9700000.0      47     35      9        18-17
2           25            18  17500000.0      97     60     11   23-16.9-18
3            3             3   1290000.0    15.3      –      –            –
4            3             3   1440000.0      29     26      –           26

### 3.2 Качественные переменные 

Переходим к следующей колонке! Новая колонка тестовая...

In [33]:
data['Тип дома:'][:10]

0    вторичка, \n            кирпично-монолитный
1                вторичка, \n            блочный
2                                       вторичка
3                                       вторичка
4                                       вторичка
5             вторичка, \n            монолитный
6           новостройка, \n            кирпичный
7                                       вторичка
8          вторичка, \n            панельный дом
9       новостройка, \n            панельный дом
Name: Тип дома:, dtype: object

Посмотрим какие значения принимает эта переменная.

In [34]:
data['Тип дома:'].value_counts()

вторичка                                          25624
новостройка, \n            монолитный              9332
вторичка, \n            монолитный                 7445
вторичка, \n            панельный дом              4798
новостройка, \n            панельный дом           4341
вторичка, \n            кирпичный                  2650
новостройка, \n            кирпично-монолитный     2406
новостройка, \n            кирпичный               2189
вторичка, \n            кирпично-монолитный         661
новостройка                                         412
вторичка, \n            блочный                      94
вторичка, \n            сталинский                   48
Name: Тип дома:, dtype: int64

В колонке находится сразу два вида переменных. Новостройка наш дом или вторичка и тип постройки. Надо разбить этот стоблец на две части.

In [35]:
re.split(', +\n +',data['Тип дома:'][1])

['вторичка', 'блочный']

In [36]:
re.split(', +\n +',data['Тип дома:'][2])

['вторичка']

In [37]:
# Бац! И мы всё сделали! 
[re.split(', +\n +', house) for house in data['Тип дома:']][:5]

[['вторичка', 'кирпично-монолитный'],
 ['вторичка', 'блочный'],
 ['вторичка'],
 ['вторичка'],
 ['вторичка']]

Первый элемент достаётся без проблем. На месте второго элемента возникают пропуски. Их надо будет фиксить.

In [38]:
new_or_not = [re.split(', +\n +', house)[0] for house in data['Тип дома:']]

In [39]:
house_type = [ ]
for house in data['Тип дома:']:
    hs = re.split(', +\n +', house)
    if len(hs) == 2:
        house_type.append(hs[1])
    else:
        house_type.append('–')
house_type[:10]

['кирпично-монолитный',
 'блочный',
 '–',
 '–',
 '–',
 'монолитный',
 'кирпичный',
 '–',
 'панельный дом',
 'панельный дом']

Добавляем всё это дело в таблицу.

In [40]:
df['new_or_not'] = new_or_not 
df['house_type'] = house_type

df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type
0,6,2,6601335.0,52.4,30.8,12.9,12.76-18.05,вторичка,кирпично-монолитный
1,12,1,9700000.0,47,35,9,18-17,вторичка,блочный
2,25,18,17500000.0,97,60,11,23-16.9-18,вторичка,–
3,3,3,1290000.0,15.3,–,–,–,вторичка,–
4,3,3,1440000.0,29,26,–,26,вторичка,–

In [41]:
df['new_or_not'].value_counts()

вторичка       41320
новостройка    18680
Name: new_or_not, dtype: int64

In [42]:
df['house_type'].value_counts()

–                      26036
монолитный             16777
панельный дом           9139
кирпичный               4839
кирпично-монолитный     3067
блочный                   94
сталинский                48
Name: house_type, dtype: int64

Вроде бы всё нормально. Продолжаем очистку.

### 3.3 Лифты и Балконы

С лифтами и балконами происходят очень похожие события. Что те данные, что те, отображаются стрёмно. Надо разбивать Кажду из переменных на две. В случае балкона на количество лоджий и количество балконов.

In [43]:
data['Балкон:'].value_counts()

–                    39652
1 балк.              10160
1 лодж.               6022
нет                   3217
2 лодж.                362
1 балк. + 1 лодж.      306
2 балк.                121
3 лодж.                 52
3 балк.                 24
4 лодж.                 23
4 балк.                 17
1 балк. + 2 лодж.       17
2 балк. + 1 лодж.        8
1 балк. + 3 лодж.        6
2 балк. + 2 лодж.        5
1 балк. + 4 лодж.        4
4 балк. + 4 лодж.        2
4 балк. + 3 лодж.        1
3 балк. + 1 лодж.        1
Name: Балкон:, dtype: int64

In [44]:
data['Лифт:'].value_counts()

–                     30694
1 пасс. + 1 груз.     24134
2 пасс. + 1 груз.      2451
1 пасс.                1287
2 пасс. + 2 груз.       387
нет                     341
2 пасс.                 236
1 пасс. + 2 груз.       159
3 пасс. + 1 груз.        88
1 груз.                  47
4 пасс. + 2 груз.        43
3 пасс.                  21
4 пасс. + 4 груз.        21
2 груз.                  13
3 груз.                  11
3 пасс. + 2 груз.        11
3 пасс. + 3 груз.        10
4 пасс.                  10
4 пасс. + 1 груз.         9
2 пасс. + 3 груз.         6
1 пасс. + 11 груз.        6
5 пасс. + 1 груз.         4
94 пасс.                  3
1 пасс. + 3 груз.         3
9 пасс.                   2
4 пасс. + 3 груз.         2
1 пасс. + 4 груз.         1
Name: Лифт:, dtype: int64

In [45]:
data['Балкон:'][24]

'–'

In [46]:
# Дробим все Балконы на два разных вида!  ( | - это значёк или для регулярных выражений)
re.split(' \+ | ',data['Балкон:'][42])

['1', 'лодж.']

In [47]:
house_transport = [re.split(' \+ | ',house) for house in data['Балкон:'].replace('нет','–')]
house_transport[:10]

[['–'], ['–'], ['2', 'лодж.'], ['–'], ['–'], ['–'], ['–'], ['–'], ['–'], ['–']]

Хочется сделать всё прямо одной командой и всё. К сожалению, в скачаном формате слишком много грязи... Придётся писать для очистки полноценный цикл.

In [48]:
# Не очень хочется тут писать для очистки данных цикл. 
# Хочется способ очистить их на халяву! 
balkon = [ ]
lodgya = [ ] 
for transport in house_transport:
    if transport[0] == '–':  # Если длина 1, то нет ни балкона ни лоджии...
        balkon.append(0)
        lodgya.append(0)
    elif len(transport) == 2: # Если длина 2, то есть либо балконы либо лоджии...
        if transport[1] == 'балк.':
            balkon.append(int(transport[0]))
            lodgya.append(0)
        else:
            balkon.append(0)
            lodgya.append(int(transport[0]))   # Если не балкон, то лоджия. Другого не дано. 
    else:                    # Если длина ни 2 и ни 1, то она 4. И у нас есть и балкон и лоджия.
        balkon.append(int(transport[0]))
        lodgya.append(int(transport[2]))
    
print(balkon[:200])
print(lodgya[:200])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1]
[0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0]

Ровно точно также поступим с лифтами.

In [49]:
house_transport = [re.split(' \+ | ',house) for house in data['Лифт:'].replace('нет','–')]
house_transport[:10]

[['2', 'пасс.', '1', 'груз.'],
 ['1', 'пасс.', '1', 'груз.'],
 ['2', 'пасс.', '2', 'груз.'],
 ['–'],
 ['–'],
 ['1', 'пасс.', '1', 'груз.'],
 ['–'],
 ['–'],
 ['–'],
 ['–']]

In [50]:
# Не очень хочется тут писать для очистки данных цикл. 
# Хочется способ очистить их на халяву! 
passagir = [ ]
gruzovoy = [ ] 
for transport in house_transport:
    if len(transport) <=1:  # Если длина 1, то нет ни одного лифта...
        passagir.append(0)
        gruzovoy.append(0)
    elif len(transport) == 2: # Если длина 2, то есть либо грузовой либо пассажирский...
        if transport[1] == 'пасс.':
            passagir.append(int(transport[0]))
            gruzovoy.append(0)
        else:
            passagir.append(0)
            gruzovoy.append(int(transport[0]))   # Если не пассажирский, то грузовой. Другого не дано. 
    else:                    # Если длина ни 2 и ни 1, то она 4. И у нас есть оба типа лифтов.
        passagir.append(int(transport[0]))
        gruzovoy.append(int(transport[2]))
    
print(passagir[:200])
print(gruzovoy[:200])

[2, 1, 2, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 2, 1, 0, 0, 0, 1, 1, 2, 2, 0, 0, 1, 1, 2, 0, 2, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 2, 2, 1, 2, 0, 2, 2, 1, 2, 1, 2, 1, 2, 0, 0, 2, 1, 1, 1, 0, 1, 1, 1, 0, 2, 2, 2, 1, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 0, 1, 1, 1, 0, 0, 1, 1, 2, 0, 1, 1, 1, 1, 2, 1, 1, 0, 2, 1, 0, 0, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 2, 1, 1, 1, 2, 1, 0, 0, 2, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1]
[1, 1, 2, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 2, 1, 1, 1, 1, 1, 1, 2, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 2, 0, 1, 1, 2, 0, 0, 2, 1, 0, 0, 2, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1]

Проверяем всё ли нормально.

In [51]:
df.shape

(60000, 9)

In [52]:
len(passagir)

60000

Добавляем в таблицу новую информацию.

In [53]:
df['pass_elevator'] = passagir
df['gruz_elevator'] = gruzovoy

df['balkon'] = balkon
df['lodgya'] = lodgya

In [71]:
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya
0,9,7,123000000.0,194.7,121.7,22,21.1-35.43-41.48-23.73,вторичка,–,2,2,0,0
1,21,3,5579537.0,54.0,30.1,9.2,15.78-14.29,новостройка,панельный дом,1,1,1,0
2,9,5,5200000.0,33,17,7,17,вторичка,–,1,0,0,1
3,3,3,1440000.0,29,26,–,26,вторичка,–,0,0,0,0
4,9,1,1540000.0,12,10,–,10,вторичка,–,0,0,0,0

### 3.4  Высота потолков

Очищаем высоту потолков от метров, пробелов и меняем все запятые на точки.

In [54]:
data['Высота потолков:'].value_counts()

2,64 м    10987
3 м        4676
3,20 м     2325
2,70 м     2277
2,74 м     2173
3,10 м      157
2,80 м      142
3,50 м       84
2,75 м       72
3,30 м       65
3,60 м       63
2,60 м       49
2,48 м       40
3,40 м       37
2,50 м       33
4 м          28
2,65 м       28
2,90 м       26
3,05 м       25
3,15 м       23
3,25 м       16
2,85 м       15
2,78 м       11
3,80 м        9
3,08 м        8
4,20 м        8
3,70 м        8
3,34 м        7
5,50 м        5
45 м          5
4,80 м        5
0,03 м        4
2,98 м        3
2,55 м        3
3,35 м        3
4,10 м        3
2,45 м        2
4,50 м        2
280 м         2
3,58 м        2
3,90 м        1
0,02 м        1
6 м           1
25 м          1
285 м         1
2,97 м        1
2,95 м        1
300 м         1
2,58 м        1
26 м          1
5 м           1
Name: Высота потолков:, dtype: int64

In [55]:
re.sub('\xa0м' ,'',data['Высота потолков:'][1])

'2,70'

In [56]:
[re.sub('\xa0м','',text) for text in data['Высота потолков:']]

TypeError: expected string or bytes-like object

Не получается. Почему не получается? Что делать, чтобы получилось? 

Правильно! Всё дела в NaN. Код не работает для них и выдаёт кучу ошибок. Заменим все NaN на что-нибудь...

In [57]:
import numpy as np  # настоящие наны живут в нумпае

# Снова ничего не работает! Почему? 
potolki1 = [re.sub('\xa0м','',text) for text in data['Высота потолков:'].replace(np.nan,'–')]
potolki1[:10]

['–', '2,70', '–', '–', '–', '2,70', '–', '2,64', '–', '–']

In [58]:
potolki2 = [re.sub(',','.',potolok) for potolok in potolki1]
potolki2[:10]

['–', '2.70', '–', '–', '–', '2.70', '–', '2.64', '–', '–']

In [59]:
df['visokiy_potolok'] = potolki2

### 3.5 Когда санузлов слишком много...

В нашей таблице слишком много переменных, отвечающих за санузлы. Надо с этим что-то сделать.

In [60]:
data['Совмещенных санузлов:'].value_counts()

1.0    36377
2.0     1175
3.0      331
4.0      117
Name: Совмещенных санузлов:, dtype: int64

In [61]:
data['Раздельных санузлов:'].value_counts()

1.0    10557
2.0      374
3.0       55
4.0        4
Name: Раздельных санузлов:, dtype: int64

In [62]:
data['Санузел:'].value_counts()

нет        11398
–            288
1 совм.       14
1 разд.        7
Name: Санузел:, dtype: int64

**Внимание, вопрос! Почему этих переменных так много? **

In [63]:
sanuzl = data[['Совмещенных санузлов:','Раздельных санузлов:','Санузел:']]
sanuzl.head()

   Совмещенных санузлов:  Раздельных санузлов: Санузел:
0                    NaN                   1.0      NaN
1                    NaN                   2.0      NaN
2                    NaN                   2.0      NaN
3                    NaN                   NaN      нет
4                    1.0                   NaN      NaN

In [84]:
sanuzl['Санузел:'] == 'нет'
sanuzl[sanuzl['Санузел:'] == 'нет']

      Совмещенных санузлов:  Раздельных санузлов: Санузел:
7                       NaN                   NaN      нет
11                      NaN                   NaN      нет
28                      NaN                   NaN      нет
32                      NaN                   NaN      нет
43                      NaN                   NaN      нет
46                      NaN                   NaN      нет
114                     NaN                   NaN      нет
123                     NaN                   NaN      нет
124                     NaN                   NaN      нет
125                     NaN                   NaN      нет
143                     NaN                   NaN      нет
192                     NaN                   NaN      нет
255                     NaN                   NaN      нет
267                     NaN                   NaN      нет
344                     NaN                   NaN      нет
357                     NaN                   NaN      нет
377                     NaN                   NaN      нет
378                     NaN                   NaN      нет
405                     NaN                   NaN      нет
441                     NaN                   NaN      нет
476                     NaN                   NaN      нет
487                     NaN                   NaN      нет
490                     NaN                   NaN      нет
493                     NaN                   NaN      нет
535                     NaN                   NaN      нет
539                     NaN                   NaN      нет
586                     NaN                   NaN      нет
591                     NaN                   NaN      нет
626                     NaN                   NaN      нет
669                     NaN                   NaN      нет
...                     ...                   ...      ...
5303                    NaN                   NaN      нет
5320                    NaN                   NaN      нет
5327                    NaN                   NaN      нет
5331                    NaN                   NaN      нет
5348                    NaN                   NaN      нет
5355                    NaN                   NaN      нет
5359                    NaN                   NaN      нет
5376                    NaN                   NaN      нет
5383                    NaN                   NaN      нет
5387                    NaN                   NaN      нет
5404                    NaN                   NaN      нет
5411                    NaN                   NaN      нет
5415                    NaN                   NaN      нет
5432                    NaN                   NaN      нет
5439                    NaN                   NaN      нет
5443                    NaN                   NaN      нет
5460                    NaN                   NaN      нет
5467                    NaN                   NaN      нет
5471                    NaN                   NaN      нет
5488                    NaN                   NaN      нет
5495                    NaN                   NaN      нет
5499                    NaN                   NaN      нет
5516                    NaN                   NaN      нет
5519                    NaN                   NaN      нет
5523                    NaN                   NaN      нет
5527                    NaN                   NaN      нет
5544                    NaN                   NaN      нет
5551                    NaN                   NaN      нет
5555                    NaN                   NaN      нет
5572                    NaN                   NaN      нет

[605 rows x 3 columns]

In [64]:
# Вопрос на засыпку: Зачем я применил тут команду list? 
df['sovmest_sanuz'] = list(data['Совмещенных санузлов:'])
df['razdeln_sanuz'] = list(data['Раздельных санузлов:'])
df['exist_sanuz'] =  list(data['Санузел:'])

In [65]:
df.head( )

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz
0,6,2,6601335.0,52.4,30.8,12.9,12.76-18.05,вторичка,кирпично-монолитный,2,1,0,0,–,NaN,1.0,NaN
1,12,1,9700000.0,47,35,9,18-17,вторичка,блочный,1,1,0,0,2.70,NaN,2.0,NaN
2,25,18,17500000.0,97,60,11,23-16.9-18,вторичка,–,2,2,0,2,–,NaN,2.0,NaN
3,3,3,1290000.0,15.3,–,–,–,вторичка,–,0,0,0,0,–,NaN,NaN,нет
4,3,3,1440000.0,29,26,–,26,вторичка,–,0,0,0,0,–,1.0,NaN,NaN

### 3.6 Расстояние до метро

До метро можно добраться либо пешком либо на машине. Разобьём переменную, отвечающую за это на две части - машинную и пешеходную

In [66]:
data['До метро'][5]

nan

In [67]:
re.split('\n +мин.\n + \n +',data['До метро'][4])

['25', 'на машине']

In [68]:
do_metro = [re.split('\n +мин.\n + \n + ', item) for item in data['До метро'].replace(np.nan,'–')]
do_metro[:10]

[['7', 'на машине'],
 ['11', 'пешком'],
 ['15', 'пешком'],
 ['15', 'на машине'],
 ['25', 'на машине'],
 ['–'],
 ['30', 'на машине'],
 ['16', 'пешком'],
 ['8', 'пешком'],
 ['35', 'на машине']]

In [69]:
do_metro_mashina = [ ]
do_metro_peshkom = [ ]
for doroga in do_metro:
    if len(doroga) == 1:  # Значит никакой информации не дано
        do_metro_mashina.append('–')
        do_metro_peshkom.append('–')
    elif doroga[1] == 'пешком':
        do_metro_mashina.append('–')
        do_metro_peshkom.append(doroga[0])
    else:
        do_metro_mashina.append(doroga[0])
        do_metro_peshkom.append('–')

Добавляем очередные колонки к таблице.

In [70]:
df['do_metro_peshkom'] = do_metro_peshkom
df['do_metro_mashina'] = do_metro_mashina

### 3.7 Год постройки.

In [71]:
# С годом постройки всё хорошо. Тут уже приведены цифры. 
past_year = data['Год постройки:'].replace(np.nan,'–')
past_year[:10]

0       –
1    1965
2       –
3    2014
4       –
5    2015
6       –
7    1972
8    1982
9       –
Name: Год постройки:, dtype: object

In [72]:
data['Сдача ГК:'][11]

'1 кв. 2017 года'

In [73]:
# С годом сдачи проблемы. Пренебрежём кварталами и оставим только года. 
re.findall('2\d+', data['Сдача ГК:'][11])

['2017']

In [74]:
future_year = [ ]
for year in data['Сдача ГК:'].replace(np.nan,'–'):
    if year == '–':
        future_year.append('–')
    else:
        future_year.append(re.findall('2\d+', year))

In [75]:
df['past_year'] = past_year
df['future_year'] = future_year

### 3.8 Координаты

Разобьём координаты на широту и доготу объекта. При варке фичей нам так будет гораздо удобнее считать расстояния.

In [76]:
data['Координаты'][1]

'[37.638216,55.786151]'

In [77]:
re.split('\[|,|\]',data['Координаты'][1])

['', '37.638216', '55.786151', '']

In [78]:
re.split('\[|,|\]',data['Координаты'][1])[1]

'37.638216'

In [79]:
re.split('\[|,|\]',data['Координаты'][1])[2]

'55.786151'

In [80]:
longitude = [float(re.split('\[|,|\]',item)[1]) for item in data['Координаты']]  # долгота 
latitude  = [float(re.split('\[|,|\]',item)[2]) for item in data['Координаты']]  # широта

In [81]:
df['latitude'] = latitude
df['longitude'] = longitude

### 3.9 Комнаты

In [91]:
data['Комнаты'][:10]

0                                          2-комн. кв.
1                                          2-комн. кв.
2                                          3-комн. кв.
3                                               студия
4                                               студия
5    студия \n    \n\n                \n           ...
6    1-комн. кв. \n    \n\n                \n      ...
7                                               студия
8                                          1-комн. кв.
9    1-комн. кв. \n    \n\n                \n      ...
Name: Комнаты, dtype: object

Отрезаем лишнюю информацию по какому-то странному символу!

In [111]:
rooms = [item.split('\xa0')[0] for item in data['Комнаты']]
rooms[:10]

['2-комн. кв.',
 '2-комн. кв.',
 '3-комн. кв.',
 'студия',
 'студия',
 'студия',
 '1-комн. кв.',
 'студия',
 '1-комн. кв.',
 '1-комн. кв.']

In [117]:
pd.DataFrame(rooms)[0].value_counts()

1-комн. кв.             35726
студия                  19064
2-комн. кв.              1930
3-комн. кв.              1786
4-комн. кв.               963
5-комн. кв.               323
многокомн. кв.            121
свободная планировка       87
Name: 0, dtype: int64

Вроде бы всё хорошо...

In [118]:
df['rooms'] = rooms

### 3.10   Уже чистые данные
Наша работа здесь окончена. Дальше идёт несколько колонок, с которыми всё хорошо. Трогать их не имеет смысла.

In [82]:
data['Тип продажи:'].value_counts()

свободная                  52548
переуступка                 4420
214-ФЗ                      2512
альтернатива                 308
предварительный договор       96
договор ЖСК                    1
Name: Тип продажи:, dtype: int64

In [83]:
# Сомнительная переменная 
data['Статус помещения:'].value_counts()

апартаменты    216
пентхаус       120
Name: Статус помещения:, dtype: int64

In [84]:
data['Телефон:'].value_counts()

нет    7746
да     3735
Name: Телефон:, dtype: int64

In [85]:
data['Ремонт:'].value_counts()

отсутствует      24358
косметический    13854
евроремонт        1004
дизайнерский       948
Name: Ремонт:, dtype: int64

In [86]:
data['Парковка:'].value_counts()

наземная          24186
подземная          3362
многоуровневая       78
открытая             52
на крыше              1
Name: Парковка:, dtype: int64

In [87]:
data['Вид из окна:'].value_counts()

двор            34726
–               13502
улица            9412
двор и улица     2360
Name: Вид из окна:, dtype: int64

In [88]:
# Сомнительная переменная 
data['Отделка:'].value_counts()

есть    128
Name: Отделка:, dtype: int64

In [125]:
# Название станции метро
#data['Метро'].value_counts()

In [89]:
df['sell_type'] = list(data['Тип продажи:'])
df['phone'] = list(data['Телефон:'])
df['status_doma'] = list(data['Статус помещения:'])
df['repair'] = list(data['Ремонт:'])
df['parking'] = list(data['Парковка:'])
df['view_window'] = list(data['Вид из окна:'])
df['otdelka'] = list(data['Отделка:'])
df['metro_name'] = list(data['Метро'])

## 4. Несколько финальных штрихов

Посмотри на сводную информацию по таблице и обнаружим несколько нюансов, от которых нужно избавиться. Например, многие цифровые данные обладают строковым типом. Это плохо. От этого надо избавиться. Также необходимо заменить все прочерки на nan.

In [119]:
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,...,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name,rooms
0,6,2,6601335.0,52.4,30.8,12.9,12.76-18.05,вторичка,кирпично-монолитный,2,...,37.544467,свободная,нет,NaN,NaN,NaN,улица,NaN,"Петровско-Разумовская,",2-комн. кв.
1,12,1,9700000.0,47,35,9,18-17,вторичка,блочный,1,...,37.638216,свободная,NaN,NaN,отсутствует,NaN,улица,NaN,"Проспект Мира,",2-комн. кв.
2,25,18,17500000.0,97,60,11,23-16.9-18,вторичка,–,2,...,37.479888,свободная,NaN,NaN,отсутствует,наземная,двор и улица,NaN,"Октябрьское поле,",3-комн. кв.
3,3,3,1290000.0,15.3,–,–,–,вторичка,–,0,...,37.552543,свободная,NaN,NaN,косметический,NaN,–,NaN,"Бунинская аллея,",студия
4,3,3,1440000.0,29,26,–,26,вторичка,–,0,...,37.322593,свободная,NaN,NaN,отсутствует,наземная,–,NaN,"Киевская,",студия

In [120]:
[re.sub('-','+',item) for item in df['RoomSq']][:10]

['12.76+18.05', '18+17', '23+16.9+18', '–', '26', '10', '18', '7', '–', '18.1']

In [121]:
df['RoomSq'] = [re.sub('-| ','+',item) for item in df['RoomSq']]
# по идее с пробелом тут всё будет хорошо!

In [122]:
df['RoomSq'][1]

'18+17'

In [123]:
# Насильное вычисление =) 
eval(df['RoomSq'][0])

30.810000000000002

In [124]:
range(df.shape[0])

range(0, 60000)

In [134]:
for i in range(df.shape[0]):
    if df['RoomSq'][i] != '–':
        df['RoomSq'][i] = eval(df['RoomSq'][i])

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

SyntaxError: invalid syntax (<string>, line 1)

In [140]:
df['RoomSq'][:10]

0    121.74
1     30.07
2        17
3        26
4        10
5        10
6        18
7         8
8         –
9      18.1
Name: RoomSq, dtype: object

Цикл выше работает не всегда. Встречаются совсем разные формат ызаполнения этой колонки. Сумма площадей совпадёт в итоге с цифрой, записанной в LiveSq. Поэтому выкинем эту колонку. Да и дело с концом.

In [126]:
df.drop('RoomSq',axis=1,inplace=True)

In [127]:
# Заменяем все прочерки на nan.
pd.set_option('display.max_columns', None) # Посмотреть все столбцы

df.replace('–',np.nan, inplace = True)
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz,do_metro_peshkom,do_metro_mashina,past_year,future_year,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name,rooms
0,6,2,6601335.0,52.4,30.8,12.9,вторичка,кирпично-монолитный,2,1,0,0,NaN,NaN,1.0,NaN,NaN,7,NaN,NaN,55.860792,37.544467,свободная,нет,NaN,NaN,NaN,улица,NaN,"Петровско-Разумовская,",2-комн. кв.
1,12,1,9700000.0,47,35,9,вторичка,блочный,1,1,0,0,2.70,NaN,2.0,NaN,11,NaN,1965.0,NaN,55.786151,37.638216,свободная,NaN,NaN,отсутствует,NaN,улица,NaN,"Проспект Мира,",2-комн. кв.
2,25,18,17500000.0,97,60,11,вторичка,NaN,2,2,0,2,NaN,NaN,2.0,NaN,15,NaN,NaN,NaN,55.785422,37.479888,свободная,NaN,NaN,отсутствует,наземная,двор и улица,NaN,"Октябрьское поле,",3-комн. кв.
3,3,3,1290000.0,15.3,NaN,NaN,вторичка,NaN,0,0,0,0,NaN,NaN,NaN,нет,NaN,15,2014.0,NaN,55.491804,37.552543,свободная,NaN,NaN,косметический,NaN,NaN,NaN,"Бунинская аллея,",студия
4,3,3,1440000.0,29,26,NaN,вторичка,NaN,0,0,0,0,NaN,1.0,NaN,NaN,NaN,25,NaN,NaN,55.648382,37.322593,свободная,NaN,NaN,отсутствует,наземная,NaN,NaN,"Киевская,",студия

In [128]:
# Посмотрим на тип данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 31 columns):
Total_floor         60000 non-null int64
Curent_floor        60000 non-null int64
Price               60000 non-null float64
TotalSq             60000 non-null object
LiveSq              50706 non-null object
KichSq              39385 non-null object
new_or_not          60000 non-null object
house_type          33964 non-null object
pass_elevator       60000 non-null int64
gruz_elevator       60000 non-null int64
balkon              60000 non-null int64
lodgya              60000 non-null int64
visokiy_potolok     23442 non-null object
sovmest_sanuz       38000 non-null float64
razdeln_sanuz       10990 non-null float64
exist_sanuz         11419 non-null object
do_metro_peshkom    17651 non-null object
do_metro_mashina    26923 non-null object
past_year           25990 non-null float64
future_year         18680 non-null object
latitude            60000 non-null float64
longitude           60000 non-null float64
sell_type           59885 non-null object
phone               11481 non-null object
status_doma         336 non-null object
repair              40164 non-null object
parking             27679 non-null object
view_window         46498 non-null object
otdelka             128 non-null object
metro_name          49112 non-null object
rooms               60000 non-null object
dtypes: float64(6), int64(6), object(19)
memory usage: 14.2+ MB

Поменяем у всех данных, которые должны быть числовыми тип.

In [129]:
df['TotalSq'] = df['TotalSq'].astype('float64')
df['LiveSq'] = df['LiveSq'].astype('float64')
df['KichSq'] = df['KichSq'].astype('float64')
# После того, как сы сделали насильное eval, мы можем сменить тип Roomsq
# df['RoomSq'] = df['RoomSq'].astype('float64')
df['visokiy_potolok'] = df['visokiy_potolok'].astype('float64')
df['do_metro_peshkom'] = df['do_metro_peshkom'].astype('float64')
df['do_metro_mashina'] = df['do_metro_mashina'].astype('float64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 31 columns):
Total_floor         60000 non-null int64
Curent_floor        60000 non-null int64
Price               60000 non-null float64
TotalSq             60000 non-null float64
LiveSq              50706 non-null float64
KichSq              39385 non-null float64
new_or_not          60000 non-null object
house_type          33964 non-null object
pass_elevator       60000 non-null int64
gruz_elevator       60000 non-null int64
balkon              60000 non-null int64
lodgya              60000 non-null int64
visokiy_potolok     23442 non-null float64
sovmest_sanuz       38000 non-null float64
razdeln_sanuz       10990 non-null float64
exist_sanuz         11419 non-null object
do_metro_peshkom    17651 non-null float64
do_metro_mashina    26923 non-null float64
past_year           25990 non-null float64
future_year         18680 non-null object
latitude            60000 non-null float64
longitude           60000 non-null float64
sell_type           59885 non-null object
phone               11481 non-null object
status_doma         336 non-null object
repair              40164 non-null object
parking             27679 non-null object
view_window         46498 non-null object
otdelka             128 non-null object
metro_name          49112 non-null object
rooms               60000 non-null object
dtypes: float64(12), int64(6), object(13)
memory usage: 14.2+ MB

Добавим в итоговую таблицу колонку из хрефов, чтобы в случае чего смотреть на аномалии.

In [131]:
df['hrefs'] = list(data['Хрефы'])

In [132]:
df.to_csv('clean_data_for_work.csv')

## 5 Ответы на глупые вопросы

In [133]:
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz,do_metro_peshkom,do_metro_mashina,past_year,future_year,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name,rooms,hrefs
0,6,2,6601335.0,52.4,30.8,12.9,вторичка,кирпично-монолитный,2,1,0,0,NaN,NaN,1.0,NaN,NaN,7.0,NaN,NaN,55.860792,37.544467,свободная,нет,NaN,NaN,NaN,улица,NaN,"Петровско-Разумовская,",2-комн. кв.,https://www.cian.ru/sale/flat/156522396/
1,12,1,9700000.0,47.0,35.0,9.0,вторичка,блочный,1,1,0,0,2.7,NaN,2.0,NaN,11.0,NaN,1965.0,NaN,55.786151,37.638216,свободная,NaN,NaN,отсутствует,NaN,улица,NaN,"Проспект Мира,",2-комн. кв.,https://www.cian.ru/sale/flat/152531280/
2,25,18,17500000.0,97.0,60.0,11.0,вторичка,NaN,2,2,0,2,NaN,NaN,2.0,NaN,15.0,NaN,NaN,NaN,55.785422,37.479888,свободная,NaN,NaN,отсутствует,наземная,двор и улица,NaN,"Октябрьское поле,",3-комн. кв.,https://www.cian.ru/sale/flat/154680416/
3,3,3,1290000.0,15.3,NaN,NaN,вторичка,NaN,0,0,0,0,NaN,NaN,NaN,нет,NaN,15.0,2014.0,NaN,55.491804,37.552543,свободная,NaN,NaN,косметический,NaN,NaN,NaN,"Бунинская аллея,",студия,https://www.cian.ru/sale/flat/156788999/
4,3,3,1440000.0,29.0,26.0,NaN,вторичка,NaN,0,0,0,0,NaN,1.0,NaN,NaN,NaN,25.0,NaN,NaN,55.648382,37.322593,свободная,NaN,NaN,отсутствует,наземная,NaN,NaN,"Киевская,",студия,https://www.cian.ru/sale/flat/153866608/

In [134]:
df['Price'].mean()

25086436385366.125

In [135]:
df['Price'].median()

1990000.0

In [136]:
df[df['Price'] == df['Price'].max()]

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz,do_metro_peshkom,do_metro_mashina,past_year,future_year,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name,rooms,hrefs
8064,8,5,1.750000e+16,460.0,NaN,NaN,вторичка,NaN,1,0,0,0,NaN,4.0,NaN,NaN,NaN,NaN,2009.0,NaN,55.760023,37.590776,свободная,NaN,NaN,NaN,подземная,двор и улица,NaN,"Баррикадная,",5-комн. кв.,https://www.cian.ru/sale/flat/152141822/
20357,8,5,1.750000e+16,460.0,NaN,NaN,вторичка,NaN,1,0,0,0,NaN,4.0,NaN,NaN,NaN,NaN,2009.0,NaN,55.760023,37.590776,свободная,NaN,NaN,NaN,подземная,двор и улица,NaN,"Баррикадная,",5-комн. кв.,https://www.cian.ru/sale/flat/152141822/
42000,8,5,1.750000e+16,460.0,NaN,NaN,вторичка,NaN,1,0,0,0,NaN,4.0,NaN,NaN,NaN,NaN,2009.0,NaN,55.760023,37.590776,свободная,NaN,NaN,NaN,подземная,двор и улица,NaN,"Баррикадная,",5-комн. кв.,https://www.cian.ru/sale/flat/152141822/