
<img src="https://www.python.org/static/community_logos/python-logo-generic.svg" height="500" width="500"> 

# <center> Грабёж, разбой и другие незаконные деяния с помощью Python. <br> <br> Завершаем наше первое дело. Шаг второй. Отмываем ЦИАН.   </center>
---------

Данные заботливо распиханы нами по колоночкам и закутаны в csv-файлик. Однако есть одна важная проблема. Данные, которые мы скачали - грязные! Необходимо их как следуюет отмыть.

<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/otmyivanie-deneg-cherez-bankovskie-kartyi.jpg" height="400" width="400"> 


Обычно работа специалиста по анализу данных делится на два этапа: 

1. Сбор данных и постройка фич
2. Оценка моделей

Как вы уже поняли, больше всего времени обычно тратится на первый этап. В этой тетрадке мы попытаемся отмыть данные, а также поговорим о библиотеке `Pandas`, которая позволяет работать с датафреймами и о работе с переменными типа `str`. 

## 1. Pandas и регулярные выражения


<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/pandas.jpg" height="600" width="600"> 
 
`Pandas` - это пакет для работы с датафреймами. Вне всяких сомнений, `Pandas` - очень классная штука. Мы часто в ходе наших семинаров будем им пользоваться.

Где узнать больше про `Pandas`? 

* В первую очередь нужно посмотреть [тетрадку от  OpenDataScience (ODS) сообщества по Pandas](  https://habrahabr.ru/company/ods/blog/322626/). Именно эти ребята устраивают каждый год Datafest. В этом году они запустили на Хабре цикл статей по практическому анализу данных и машинному обучени. Цикл ещё не закончен. Всем, кто хочет в анализ данных рекомендую почитать. 

* `Pandas` постижим. Если вы хотите научиться использовать этот пакет, просто посмотреть тетрадки будет недостаточно. Нужно проделать самостоятельно пару упражнений с таблицами. В той же самой статье на хабре есть хорошая домашка по Pandas. К ней прилагается решение. Если вы просто смотрите на код, а не сами пытаетесь его написать, ВЫ НИКОГДА НЕ СМОЖЕТЕ ПИСАТЬ КОД! 

* [Официальная документация Pandas](http://pandas.pydata.org/pandas-docs/stable/index.html). Помните, что документация наш друг. Если вы забыли как что-то делается или не знали как что-то делается, всегда можно найти ответы в хорошей документации. В частности, можно почитать неплохое введение [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html).

* [PDF-шпаргалка по библиотеке](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

* [Отличная презентация Александра Дьяконова «Знакомство с Pandas»](https://alexanderdyakonov.wordpress.com/2015/11/06/%D0%B7%D0%BD%D0%B0%D0%BA%D0%BE%D0%BC%D1%81%D1%82%D0%B2%D0%BE-%D1%81-pandas-%D1%81%D0%BB%D0%B0%D0%B9%D0%B4%D1%8B/)

* На гитхабе есть [подборка упражнений по Pandas](https://github.com/guipsamora/pandas_exercises/) и еще один [полезный репозиторий](https://github.com/TomAugspurger/effective-pandas) (на английском языке),,

P.S. Я не просто тупо скопировал все эти ссылки из статьи на Хабре. На самом деле я большую часть этих материалов просмотрел! 


Итак, подгружаем пакеты, а также наши грязные данные...

In [142]:
import pandas as pd
data = pd.read_csv('CIAN_data.csv', header=0, sep=',' ,index_col=0)

# Взглянем на нашу табличку!
data.head()

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Координаты,Лифт:,Метро,Общая площадь:,Отделка:,Парковка:,Площадь комнат:,Площадь кухни:,Раздельных санузлов:,Ремонт:,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Этаж:
1,–,двор,"3,50 м",2012.0,4\n мин.\n \n ...,"121,7 м2","[37.653703,55.744738]",2 пасс. + 2 груз.,"Таганская,","194,7 м2",NaN,подземная,"21,1-35,43-41,48-23,73 м2",22 м2,NaN,отсутствует,NaN,NaN,3.0,NaN,NaN,вторичка,свободная,123 000 000 руб.,7 / 9
2,1 балк.,улица,NaN,NaN,10\n мин.\n \n ...,"30,1 м2","[37.414421,55.633661]",1 пасс. + 1 груз.,"Саларьево,","54,0 м2",NaN,NaN,15.78-14.29 м2,"9,2 м2",1.0,NaN,NaN,3 кв. 2017 года,NaN,NaN,NaN,"новостройка, \n панельный дом",свободная,5 579 537 руб.,3 / 21
3,1 лодж.,улица,"2,64 м",1965.0,16\n мин.\n \n ...,17 м2,"[37.554987,55.871930]",1 пасс.,"Петровско-Разумовская,",33 м2,NaN,наземная,17 м2,7 м2,NaN,евроремонт,NaN,NaN,1.0,NaN,да,вторичка,свободная,5 200 000 руб.,5 / 9
4,–,–,NaN,NaN,25\n мин.\n \n ...,26 м2,"[37.322593,55.648382]",–,"Киевская,",29 м2,NaN,наземная,26 м2,–,NaN,отсутствует,NaN,NaN,1.0,NaN,NaN,вторичка,свободная,1 440 000 руб.,3 / 3
5,–,–,"2,64 м",1972.0,16\n мин.\n \n ...,10 м2,"[37.617986,55.606690]",–,"Пражская,",12 м2,NaN,NaN,10 м2,–,NaN,отсутствует,NaN,NaN,1.0,NaN,NaN,вторичка,свободная,1 540 000 руб.,1 / 9

Немного поизучаем нашу табличку. Например, выясним какая у неё размерность

In [3]:
data.shape

(5572, 25)

Посмотрим сводную информацию о наших данных.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5572 entries, 1 to 5572
Data columns (total 25 columns):
Балкон:                  5572 non-null object
Вид из окна:             5572 non-null object
Высота потолков:         1929 non-null object
Год постройки:           2017 non-null float64
До метро                 4066 non-null object
Жилая площадь:           5572 non-null object
Координаты               5572 non-null object
Лифт:                    5572 non-null object
Метро                    4789 non-null object
Общая площадь:           5572 non-null object
Отделка:                 23 non-null object
Парковка:                2958 non-null object
Площадь комнат:          5572 non-null object
Площадь кухни:           5572 non-null object
Раздельных санузлов:     1094 non-null float64
Ремонт:                  3769 non-null object
Санузел:                 670 non-null object
Сдача ГК:                1701 non-null object
Совмещенных санузлов:    3890 non-null float64
Статус помещения:        29 non-null object
Телефон:                 1116 non-null object
Тип дома:                5572 non-null object
Тип продажи:             5566 non-null object
Цена                     5572 non-null object
Этаж:                    5572 non-null object
dtypes: float64(3), object(22)
memory usage: 1.1+ MB

Посмотрим на названия колонок!

In [5]:
data.columns

Index(['Балкон:', 'Вид из окна:', 'Высота потолков:', 'Год постройки:',
       'До метро', 'Жилая площадь:', 'Координаты', 'Лифт:', 'Метро',
       'Общая площадь:', 'Отделка:', 'Парковка:', 'Площадь комнат:',
       'Площадь кухни:', 'Раздельных санузлов:', 'Ремонт:', 'Санузел:',
       'Сдача ГК:', 'Совмещенных санузлов:', 'Статус помещения:', 'Телефон:',
       'Тип дома:', 'Тип продажи:', 'Цена', 'Этаж:'],
      dtype='object')

Начинаем очищать всё это дело от ерунды. Итак, посмотрим на первый столбец! Попутно выясним, что его можно вызвать несколькими разными способами...

In [6]:
data['Этаж:'][:10]

1      7 / 9
2     3 / 21
3      5 / 9
4      3 / 3
5      1 / 9
6     2 / 21
7      1 / 3
8      1 / 9
9      1 / 9
10     1 / 3
Name: Этаж:, dtype: object

Данные приведены в формате на каком этаже квартира/сколько в дом этажей. По уму, эту колонку нужно разбить на две части. Одна будет отвечать за этажность дома, а вторая за этажность квартиры. Каждая переменная в данном столбце обладает типом str.

In [7]:
floors = data['Этаж:']
type(floors[1])

str

Изучим очень крутой метод для работы с текстами, а именно `.split`. Он позволяет разбить какую-то текстовую фразу на части по какому-то символу. Например, по пробелу или букве а...

In [8]:
x = 'Ахмеду пришла стипуха, он купил себе самокат!'

print(x.split(" "))
print(x.split("а"))

['Ахмеду', 'пришла', 'стипуха,', 'он', 'купил', 'себе', 'самокат!']
['Ахмеду пришл', ' стипух', ', он купил себе с', 'мок', 'т!']

In [10]:
floors[1].split('\xa0/\xa0')

['7', '9']

In [12]:
[floor for floor in floors if len(floor) <= 2]

['2', '2', '2', '2', '3']

Разобьём каждый элемент в списке этажей на две частички. Получим вектора из этажей.

In [14]:
[floor.split('\xa0/\xa0') for floor in floors][:10]

[['7', '9'],
 ['3', '21'],
 ['5', '9'],
 ['3', '3'],
 ['1', '9'],
 ['2', '21'],
 ['1', '3'],
 ['1', '9'],
 ['1', '9'],
 ['1', '3']]

In [16]:
new_floors0 =  [int(floor.split('\xa0/\xa0')[0]) for floor in floors] 

new_floors0[:10]

[7, 3, 5, 3, 1, 2, 1, 1, 1, 1]

In [21]:
# Поначалу тут были две одинаковые строки. Но при расширении выборки, вторая строка с кодом перестала работать.
# new_floors1 =  [int(floor.split('\xa0/\xa0')[1]) for floor in floors] 

# Выяснилось, что встречаются данные, в которых не указана вторая цифра в этажности. К сожалению, так бывает 
# и иногда код, который работал вчера, перестаёт работать сегодня. В таких случаях приходится прописывать 
# конструкцию try-except. Привыкайте к этому.

new_floors1 =  [ ]
for floor in floors: 
    try:
        new_floors1.append(int(floor.split('\xa0/\xa0')[1]))
    except Exception:
        new_floors1.append(int(floor.split('\xa0/\xa0')[0]))

In [22]:
new_floors1[:10]

[9, 21, 9, 3, 9, 21, 3, 9, 9, 3]

In [20]:
x = [1,2,3]
x.append(4)
x

[1, 2, 3, 4]

Удалим из нашей таблички старый столбец.

In [23]:
data.drop('Этаж:',axis=1).head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Координаты,Лифт:,Метро,Общая площадь:,...,Раздельных санузлов:,Ремонт:,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена
1,–,двор,"3,50 м",2012.0,4\n мин.\n \n ...,"121,7 м2","[37.653703,55.744738]",2 пасс. + 2 груз.,"Таганская,","194,7 м2",...,NaN,отсутствует,NaN,NaN,3.0,NaN,NaN,вторичка,свободная,123 000 000 руб.
2,1 балк.,улица,NaN,NaN,10\n мин.\n \n ...,"30,1 м2","[37.414421,55.633661]",1 пасс. + 1 груз.,"Саларьево,","54,0 м2",...,1.0,NaN,NaN,3 кв. 2017 года,NaN,NaN,NaN,"новостройка, \n панельный дом",свободная,5 579 537 руб.

Нууу вроде бы удалили... Уверены?! А давайте проверим!

In [24]:
data.head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Координаты,Лифт:,Метро,Общая площадь:,...,Ремонт:,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Этаж:
1,–,двор,"3,50 м",2012.0,4\n мин.\n \n ...,"121,7 м2","[37.653703,55.744738]",2 пасс. + 2 груз.,"Таганская,","194,7 м2",...,отсутствует,NaN,NaN,3.0,NaN,NaN,вторичка,свободная,123 000 000 руб.,7 / 9
2,1 балк.,улица,NaN,NaN,10\n мин.\n \n ...,"30,1 м2","[37.414421,55.633661]",1 пасс. + 1 груз.,"Саларьево,","54,0 м2",...,NaN,NaN,3 кв. 2017 года,NaN,NaN,NaN,"новостройка, \n панельный дом",свободная,5 579 537 руб.,3 / 21

Блин... Ничего не получилось. Глупый Python. Ничего не хочет делать. Плохо работает. Ну его нафиг. Буду обрабатывать таблицы в экселе. Обажаю майкрософт и Билла Гейтса! 

<img align="center" src="https://raw.githubusercontent.com/FUlyankin/Parsers/master/images%20/s7VPrY01mK8.jpg" height="500" width="500"> 

На самом деле нет. Всё получилось. Просто нужно сохранить новую табличку с удалённой строкой. Либо подписать в опциях `inplace = True`. Это сохранит все изменения, сделанные нами в таблице.

In [25]:
data.drop('Этаж:',axis=1,inplace = True)

# Перезапись приведёт к аналоничному результату
# data = data.drop('Этаж:',axis=1)
data.head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Координаты,Лифт:,Метро,Общая площадь:,...,Раздельных санузлов:,Ремонт:,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена
1,–,двор,"3,50 м",2012.0,4\n мин.\n \n ...,"121,7 м2","[37.653703,55.744738]",2 пасс. + 2 груз.,"Таганская,","194,7 м2",...,NaN,отсутствует,NaN,NaN,3.0,NaN,NaN,вторичка,свободная,123 000 000 руб.
2,1 балк.,улица,NaN,NaN,10\n мин.\n \n ...,"30,1 м2","[37.414421,55.633661]",1 пасс. + 1 груз.,"Саларьево,","54,0 м2",...,1.0,NaN,NaN,3 кв. 2017 года,NaN,NaN,NaN,"новостройка, \n панельный дом",свободная,5 579 537 руб.

Добавляем новые столбцы... Назовём их Total_floor и Curent_floor.

In [27]:
data['Total_floor'] =  new_floors1
data['Curent_floor'] = new_floors0 
data.head(2)

,Балкон:,Вид из окна:,Высота потолков:,Год постройки:,До метро,Жилая площадь:,Координаты,Лифт:,Метро,Общая площадь:,...,Санузел:,Сдача ГК:,Совмещенных санузлов:,Статус помещения:,Телефон:,Тип дома:,Тип продажи:,Цена,Total_floor,Curent_floor
1,–,двор,"3,50 м",2012.0,4\n мин.\n \n ...,"121,7 м2","[37.653703,55.744738]",2 пасс. + 2 груз.,"Таганская,","194,7 м2",...,NaN,NaN,3.0,NaN,NaN,вторичка,свободная,123 000 000 руб.,9,7
2,1 балк.,улица,NaN,NaN,10\n мин.\n \n ...,"30,1 м2","[37.414421,55.633661]",1 пасс. + 1 груз.,"Саларьево,","54,0 м2",...,NaN,3 кв. 2017 года,NaN,NaN,NaN,"новостройка, \n панельный дом",свободная,5 579 537 руб.,21,3

Работать с изначальной таблицей не очень хорошая идея. Если мы однажды удалим через опцию `inplace` из неё столбец, мы больше никогда не сможем обратиться к нему. Придётся подгружать таблицу заново.

In [28]:
# Нам понадобилось перезапустить кусок кода, мы сделали это, а таблица уже удалена...
data.drop('Этаж:',axis=1,inplace = True)

ValueError: labels ['Этаж:'] not contained in axis

Именно поэтому мы будем работать с двумя таблицами. Новой и старой! 

Создадим свеженькую таблицу и поместим в неё свои пожитки.

In [30]:
df = pd.DataFrame( )
df['Total_floor'] =  new_floors1
df['Curent_floor'] = new_floors0
df.head()

   Total_floor  Curent_floor
0            9             7
1           21             3
2            9             5
3            3             3
4            9             1

## 2. Регулярные выражения

Продолжаем очистку!

In [31]:
data['Цена'][:5]

1    123 000 000 руб.
2      5 579 537 руб.
3      5 200 000 руб.
4      1 440 000 руб.
5      1 540 000 руб.
Name: Цена, dtype: object

In [32]:
data['Цена'][1].replace("руб.", "")

'123 000 000 '

In [33]:
data['Цена'][1].replace(" ", "")

'123000000руб.'

Хотелось бы избавиться и от пробелов и от слова `руб.`, однако делать это в два применения команды, как ниже не очень хочется...

In [34]:
data['Цена'][1].replace(" ", "").replace("руб.", "")

'123000000'

Ну и хорошо, что не хочется! Пришло время подгрузить новый пакет... 

[`re`](https://docs.python.org/2/library/re.html) это прекрасная библиотека, которая позволяет использовать регулярные выражения, а также более удобно работать с текстовыми данными. 

Регулярные выражение - это очень стнные конструкции, которые позволяют выцеплять из текстов разные закономерности. Например, решим небольшую задачку!

In [35]:
import re
# Задача: вернуть список доменов из списка адресов электронной почты
text = 'abc.test@gmail.com, xyz@test.in, test.first@analyticsvidhya.com, first.test@rest.biz'
re.findall(r'@\w+',text)

['@gmail', '@test', '@analyticsvidhya', '@rest']

Регулярное выражение `\w` обозначает любую цифру или букву. `+` означает 1 и более вхождений шаблона слева. `\w+` означает "Вытаскивай мне все цифры и буквы, пока не прервётся слово. 

Нам не хватает точек и комов! Попросим Python добавить их.

In [36]:
re.findall(r'@\w+.\w+',text)

['@gmail.com', '@test.in', '@analyticsvidhya.com', '@rest.biz']

На самом деле существует довольно большое количество самых разных регулярных выражений, позволяющих очень лихо работать с текстами. Вот только учить их лениво...

Если вы хотите подробнее поизучать регулярные выражения, а не только гуглить на стаковерфлоу необходимые вам паттерны, как делаю я, то вот идеальный сайт для изучения - http://regexr.com/

Кроме регулярных выражений, в пакете **re** лежат удобные функции для текстовых данных. Если вы ещё не забыли, мы подгружали этот пакет для того, чтобы уничтожить рубли и пробелы. Регулярное выражение `\d` означает цифру. Выражение `\D` означает всё кроме цифры. Удалим всё, кроме цифр.

In [37]:
re.sub('\D' ,'',data['Цена'][1])

'123000000'

In [38]:
# Обрабатываем колонку! 
price = [float(re.sub('\D' ,'',item)) for item in data['Цена']]
df['Price'] = price 

df.head()

   Total_floor  Curent_floor        Price
0            9             7  123000000.0
1           21             3    5579537.0
2            9             5    5200000.0
3            3             3    1440000.0
4            9             1    1540000.0

## 3. Мы чистим, чистим, чистим.

### 3.1 Чистим площади

Вытащим разные площади квартир.

In [39]:
data['Площадь кухни:'][:10]

1       22 м2
2      9,2 м2
3        7 м2
4           –
5           –
6        3 м2
7       10 м2
8      2,5 м2
9           –
10    10,2 м2
Name: Площадь кухни:, dtype: object

Чёрт! Сколько же проблем. Мы должны: 

* Убрать подписи `m2` 
* Заменить `,` на `.`
* Заменить – на NaN  (сделаем это в самом конце)

In [41]:
print(data['Площадь кухни:'][2])
# Сначала убираем м2 
step1 = re.sub('\xa0м2' ,'',data['Площадь кухни:'][2])
print(step1)
# Меняем запятые на точки 
step2 = re.sub(',','.',step1)
print(step2)

9,2 м2
9,2
9.2

Напишем функцию, которая обработает все площади.

In [42]:
def SqMaker(text_vector):
    step1 = [re.sub('\xa0м2' ,'',text) for text in text_vector]
    step2 = [re.sub(',','.', text) for text in step1]
    return(step2)

In [43]:
df['TotalSq'] = SqMaker(data['Общая площадь:'])
df['LiveSq'] = SqMaker(data['Жилая площадь:'])
df['KichSq'] = SqMaker(data['Площадь кухни:'])
df['RoomSq'] = SqMaker(data['Площадь комнат:'])

# Обратите внимание, что люди очень непредсказуемо заполняют графу, которая отвечает за площадь комнат. 
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq
0,9,7,123000000.0,194.7,121.7,22,21.1-35.43-41.48-23.73
1,21,3,5579537.0,54.0,30.1,9.2,15.78-14.29
2,9,5,5200000.0,33,17,7,17
3,3,3,1440000.0,29,26,–,26
4,9,1,1540000.0,12,10,–,10

### 3.2 Качественные переменные 

Переходим к следующей колонке! Новая колонка тестовая...

In [44]:
data['Тип дома:'][:10]

1                                     вторичка
2     новостройка, \n            панельный дом
3                                     вторичка
4                                     вторичка
5                                     вторичка
6           вторичка, \n            монолитный
7         новостройка, \n            кирпичный
8                                     вторичка
9        вторичка, \n            панельный дом
10       новостройка, \n            монолитный
Name: Тип дома:, dtype: object

Посмотрим какие значения принимает эта переменная.

In [45]:
data['Тип дома:'].value_counts()

вторичка                                          2480
новостройка, \n            монолитный              727
новостройка, \n            панельный дом           581
вторичка, \n            монолитный                 449
вторичка, \n            панельный дом              441
вторичка, \n            кирпичный                  242
новостройка, \n            кирпичный               183
вторичка, \n            блочный                    178
новостройка, \n            кирпично-монолитный     128
новостройка                                         82
вторичка, \n            кирпично-монолитный         75
вторичка, \n            сталинский                   6
Name: Тип дома:, dtype: int64

В колонке находится сразу два вида переменных. Новостройка наш дом или вторичка и тип постройки. Надо разбить этот стоблец на две части.

In [46]:
re.split(', +\n +',data['Тип дома:'][1])

['вторичка']

In [48]:
re.split(', +\n +',data['Тип дома:'][2])

['новостройка', 'панельный дом']

In [49]:
# Бац! И мы всё сделали! 
[re.split(', +\n +', house) for house in data['Тип дома:']][:5]

[['вторичка'],
 ['новостройка', 'панельный дом'],
 ['вторичка'],
 ['вторичка'],
 ['вторичка']]

Первый элемент достаётся без проблем. На месте второго элемента возникают пропуски. Их надо будет фиксить.

In [50]:
new_or_not = [re.split(', +\n +', house)[0] for house in data['Тип дома:']]

In [51]:
house_type = [ ]
for house in data['Тип дома:']:
    hs = re.split(', +\n +', house)
    if len(hs) == 2:
        house_type.append(hs[1])
    else:
        house_type.append('–')
house_type[:10]

['–',
 'панельный дом',
 '–',
 '–',
 '–',
 'монолитный',
 'кирпичный',
 '–',
 'панельный дом',
 'монолитный']

Добавляем всё это дело в таблицу.

In [52]:
df['new_or_not'] = new_or_not 
df['house_type'] = house_type

df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type
0,9,7,123000000.0,194.7,121.7,22,21.1-35.43-41.48-23.73,вторичка,–
1,21,3,5579537.0,54.0,30.1,9.2,15.78-14.29,новостройка,панельный дом
2,9,5,5200000.0,33,17,7,17,вторичка,–
3,3,3,1440000.0,29,26,–,26,вторичка,–
4,9,1,1540000.0,12,10,–,10,вторичка,–

In [53]:
df['new_or_not'].value_counts()

вторичка       3871
новостройка    1701
Name: new_or_not, dtype: int64

In [54]:
df['house_type'].value_counts()

–                      2562
монолитный             1176
панельный дом          1022
кирпичный               425
кирпично-монолитный     203
блочный                 178
сталинский                6
Name: house_type, dtype: int64

Вроде бы всё нормально. Продолжаем очистку.

### 3.3 Лифты и Балконы

С лифтами и балконами происходят очень похожие события. Что те данные, что те, отображаются стрёмно. Надо разбивать Кажду из переменных на две. В случае балкона на количество лоджий и количество балконов.

In [55]:
data['Балкон:'].value_counts()

–                    3538
1 балк.               903
1 лодж.               663
нет                   361
1 балк. + 1 лодж.      44
2 лодж.                34
2 балк.                11
3 лодж.                 6
4 лодж.                 3
1 балк. + 2 лодж.       3
2 балк. + 2 лодж.       2
4 балк. + 4 лодж.       2
2 балк. + 1 лодж.       2
Name: Балкон:, dtype: int64

In [56]:
data['Лифт:'].value_counts()

–                     2989
1 пасс. + 1 груз.     1607
1 пасс.                355
2 пасс. + 2 груз.      212
нет                    211
2 пасс. + 1 груз.       95
2 пасс.                 39
1 пасс. + 2 груз.       33
3 пасс. + 1 груз.       10
4 пасс. + 2 груз.        6
1 груз.                  4
3 пасс. + 3 груз.        3
3 груз.                  2
3 пасс.                  2
2 пасс. + 3 груз.        1
3 пасс. + 2 груз.        1
4 пасс. + 4 груз.        1
1 пасс. + 11 груз.       1
Name: Лифт:, dtype: int64

In [57]:
data['Балкон:'][24]

'–'

In [61]:
# Дробим все Балконы на два разных вида!  ( | - это значёк или для регулярных выражений)
re.split(' \+ | ',data['Балкон:'][42])

['1', 'лодж.']

In [64]:
house_transport = [re.split(' \+ | ',house) for house in data['Балкон:'].replace('нет','–')]
house_transport[:10]

[['–'],
 ['1', 'балк.'],
 ['1', 'лодж.'],
 ['–'],
 ['–'],
 ['–'],
 ['–'],
 ['–'],
 ['–'],
 ['1', 'балк.']]

Хочется сделать всё прямо одной командой и всё. К сожалению, в скачаном формате слишком много грязи... Придётся писать для очистки полноценный цикл.

In [63]:
# Не очень хочется тут писать для очистки данных цикл. 
# Хочется способ очистить их на халяву! 
balkon = [ ]
lodgya = [ ] 
for transport in house_transport:
    if transport[0] == '–':  # Если длина 1, то нет ни балкона ни лоджии...
        balkon.append(0)
        lodgya.append(0)
    elif len(transport) == 2: # Если длина 2, то есть либо балконы либо лоджии...
        if transport[1] == 'балк.':
            balkon.append(int(transport[0]))
            lodgya.append(0)
        else:
            balkon.append(0)
            lodgya.append(int(transport[0]))   # Если не балкон, то лоджия. Другого не дано. 
    else:                    # Если длина ни 2 и ни 1, то она 4. И у нас есть и балкон и лоджия.
        balkon.append(int(transport[0]))
        lodgya.append(int(transport[2]))
    
print(balkon[:200])
print(lodgya[:200])

[0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 2, 0, 0, 0]
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 2, 0, 0]

Ровно точно также поступим с лифтами.

In [66]:
house_transport = [re.split(' \+ | ',house) for house in data['Лифт:'].replace('нет','–')]
house_transport[:10]

[['2', 'пасс.', '2', 'груз.'],
 ['1', 'пасс.', '1', 'груз.'],
 ['1', 'пасс.'],
 ['–'],
 ['–'],
 ['1', 'пасс.', '1', 'груз.'],
 ['–'],
 ['1', 'пасс.'],
 ['–'],
 ['1', 'пасс.', '1', 'груз.']]

In [67]:
# Не очень хочется тут писать для очистки данных цикл. 
# Хочется способ очистить их на халяву! 
passagir = [ ]
gruzovoy = [ ] 
for transport in house_transport:
    if len(transport) <=1:  # Если длина 1, то нет ни одного лифта...
        passagir.append(0)
        gruzovoy.append(0)
    elif len(transport) == 2: # Если длина 2, то есть либо грузовой либо пассажирский...
        if transport[1] == 'пасс.':
            passagir.append(int(transport[0]))
            gruzovoy.append(0)
        else:
            passagir.append(0)
            gruzovoy.append(int(transport[0]))   # Если не пассажирский, то грузовой. Другого не дано. 
    else:                    # Если длина ни 2 и ни 1, то она 4. И у нас есть оба типа лифтов.
        passagir.append(int(transport[0]))
        gruzovoy.append(int(transport[2]))
    
print(passagir[:200])
print(gruzovoy[:200])

[2, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 2, 1, 1, 1, 1, 2, 0, 0, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 2, 0, 1, 0, 1, 1, 2, 1, 1, 2, 2, 0, 0, 1, 2, 1, 1, 0, 2, 0, 1, 0, 0, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 0, 1, 1, 1, 1, 2, 1, 0, 0, 1, 1, 0, 1, 1, 2, 2, 1, 0, 0, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1, 0, 2, 1, 2, 1, 1, 0, 0, 1, 1, 1, 1, 2, 1, 1, 1, 0, 0, 1, 3, 0, 1, 2, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 2, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 2, 0]
[2, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 2, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 2, 1, 1, 1, 0, 0, 2, 1, 1, 2, 1, 1, 0, 0, 0, 2, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 3, 1, 3, 0, 1, 2, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 2, 0, 0, 1, 2, 0]

Проверяем всё ли нормально.

In [68]:
df.shape

(5572, 9)

In [69]:
len(passagir)

5572

Добавляем в таблицу новую информацию.

In [70]:
df['pass_elevator'] = passagir
df['gruz_elevator'] = gruzovoy

df['balkon'] = balkon
df['lodgya'] = lodgya

In [71]:
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya
0,9,7,123000000.0,194.7,121.7,22,21.1-35.43-41.48-23.73,вторичка,–,2,2,0,0
1,21,3,5579537.0,54.0,30.1,9.2,15.78-14.29,новостройка,панельный дом,1,1,1,0
2,9,5,5200000.0,33,17,7,17,вторичка,–,1,0,0,1
3,3,3,1440000.0,29,26,–,26,вторичка,–,0,0,0,0
4,9,1,1540000.0,12,10,–,10,вторичка,–,0,0,0,0

### 3.4  Высота потолков

Очищаем высоту потолков от метров, пробелов и меняем все запятые на точки.

In [72]:
data['Высота потолков:'].value_counts()

2,64 м    608
3 м       567
2,80 м    213
2,70 м    209
3,20 м    191
2,74 м     16
2,48 м     16
2,75 м     11
3,50 м      9
2,90 м      9
2,60 м      9
3,30 м      9
3,10 м      8
2,65 м      7
2,50 м      6
3,60 м      6
3,40 м      5
4 м         4
2,85 м      3
3,05 м      3
45 м        3
3,08 м      2
2,45 м      2
5,50 м      2
2,55 м      2
285 м       1
2,58 м      1
3,70 м      1
25 м        1
2,78 м      1
4,20 м      1
275 м       1
4,10 м      1
4,80 м      1
Name: Высота потолков:, dtype: int64

In [73]:
re.sub('\xa0м' ,'',data['Высота потолков:'][1])

'3,50'

In [74]:
[re.sub('\xa0м','',text) for text in data['Высота потолков:']]

TypeError: expected string or bytes-like object

Не получается. Почему не получается? Что делать, чтобы получилось? 

Правильно! Всё дела в NaN. Код не работает для них и выдаёт кучу ошибок. Заменим все NaN на что-нибудь...

In [76]:
import numpy as np  # настоящие наны живут в нумпае

# Снова ничего не работает! Почему? 
potolki1 = [re.sub('\xa0м','',text) for text in data['Высота потолков:'].replace(np.nan,'–')]
potolki1[:10]

['3,50', '–', '2,64', '–', '2,64', '2,70', '–', '2,64', '–', '–']

In [77]:
potolki2 = [re.sub(',','.',potolok) for potolok in potolki1]
potolki2[:10]

['3.50', '–', '2.64', '–', '2.64', '2.70', '–', '2.64', '–', '–']

In [78]:
df['visokiy_potolok'] = potolki2

### 3.5 Когда санузлов слишком много...

В нашей таблице слишком много переменных, отвечающих за санузлы. Надо с этим что-то сделать.

In [79]:
data['Совмещенных санузлов:'].value_counts()

1.0    3744
2.0     104
3.0      32
4.0      10
Name: Совмещенных санузлов:, dtype: int64

In [80]:
data['Раздельных санузлов:'].value_counts()

1.0    1045
2.0      40
3.0       5
4.0       4
Name: Раздельных санузлов:, dtype: int64

In [81]:
data['Санузел:'].value_counts()

нет        605
–           58
1 совм.      7
Name: Санузел:, dtype: int64

**Внимание, вопрос! Почему этих переменных так много? **

In [82]:
sanuzl = data[['Совмещенных санузлов:','Раздельных санузлов:','Санузел:']]
sanuzl.head()

   Совмещенных санузлов:  Раздельных санузлов: Санузел:
1                    3.0                   NaN      NaN
2                    NaN                   1.0      NaN
3                    1.0                   NaN      NaN
4                    1.0                   NaN      NaN
5                    1.0                   NaN      NaN

In [84]:
sanuzl['Санузел:'] == 'нет'
sanuzl[sanuzl['Санузел:'] == 'нет']

      Совмещенных санузлов:  Раздельных санузлов: Санузел:
7                       NaN                   NaN      нет
11                      NaN                   NaN      нет
28                      NaN                   NaN      нет
32                      NaN                   NaN      нет
43                      NaN                   NaN      нет
46                      NaN                   NaN      нет
114                     NaN                   NaN      нет
123                     NaN                   NaN      нет
124                     NaN                   NaN      нет
125                     NaN                   NaN      нет
143                     NaN                   NaN      нет
192                     NaN                   NaN      нет
255                     NaN                   NaN      нет
267                     NaN                   NaN      нет
344                     NaN                   NaN      нет
357                     NaN                   NaN      нет
377                     NaN                   NaN      нет
378                     NaN                   NaN      нет
405                     NaN                   NaN      нет
441                     NaN                   NaN      нет
476                     NaN                   NaN      нет
487                     NaN                   NaN      нет
490                     NaN                   NaN      нет
493                     NaN                   NaN      нет
535                     NaN                   NaN      нет
539                     NaN                   NaN      нет
586                     NaN                   NaN      нет
591                     NaN                   NaN      нет
626                     NaN                   NaN      нет
669                     NaN                   NaN      нет
...                     ...                   ...      ...
5303                    NaN                   NaN      нет
5320                    NaN                   NaN      нет
5327                    NaN                   NaN      нет
5331                    NaN                   NaN      нет
5348                    NaN                   NaN      нет
5355                    NaN                   NaN      нет
5359                    NaN                   NaN      нет
5376                    NaN                   NaN      нет
5383                    NaN                   NaN      нет
5387                    NaN                   NaN      нет
5404                    NaN                   NaN      нет
5411                    NaN                   NaN      нет
5415                    NaN                   NaN      нет
5432                    NaN                   NaN      нет
5439                    NaN                   NaN      нет
5443                    NaN                   NaN      нет
5460                    NaN                   NaN      нет
5467                    NaN                   NaN      нет
5471                    NaN                   NaN      нет
5488                    NaN                   NaN      нет
5495                    NaN                   NaN      нет
5499                    NaN                   NaN      нет
5516                    NaN                   NaN      нет
5519                    NaN                   NaN      нет
5523                    NaN                   NaN      нет
5527                    NaN                   NaN      нет
5544                    NaN                   NaN      нет
5551                    NaN                   NaN      нет
5555                    NaN                   NaN      нет
5572                    NaN                   NaN      нет

[605 rows x 3 columns]

In [90]:
# Вопрос на засыпку: Зачем я применил тут команду list? 
df['sovmest_sanuz'] = list(data['Совмещенных санузлов:'])
df['razdeln_sanuz'] = list(data['Раздельных санузлов:'])
df['exist_sanuz'] =  list(data['Санузел:'])

In [91]:
df.head( )

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz
0,9,7,123000000.0,194.7,121.7,22,21.1-35.43-41.48-23.73,вторичка,–,2,2,0,0,3.50,3.0,NaN,NaN
1,21,3,5579537.0,54.0,30.1,9.2,15.78-14.29,новостройка,панельный дом,1,1,1,0,–,NaN,1.0,NaN
2,9,5,5200000.0,33,17,7,17,вторичка,–,1,0,0,1,2.64,1.0,NaN,NaN
3,3,3,1440000.0,29,26,–,26,вторичка,–,0,0,0,0,–,1.0,NaN,NaN
4,9,1,1540000.0,12,10,–,10,вторичка,–,0,0,0,0,2.64,1.0,NaN,NaN

### 3.6 Расстояние до метро

До метро можно добраться либо пешком либо на машине. Разобьём переменную, отвечающую за это на две части - машинную и пешеходную

In [93]:
data['До метро'][5]

'16\n                мин.\n                \n                    пешком'

In [94]:
re.split('\n +мин.\n + \n +',data['До метро'][4])

['25', 'на машине']

In [95]:
do_metro = [re.split('\n +мин.\n + \n + ', item) for item in data['До метро'].replace(np.nan,'–')]
do_metro[:10]

[['4', 'пешком'],
 ['10', 'на машине'],
 ['16', 'на машине'],
 ['25', 'на машине'],
 ['16', 'пешком'],
 ['–'],
 ['30', 'на машине'],
 ['16', 'пешком'],
 ['8', 'пешком'],
 ['37', 'на машине']]

In [97]:
do_metro_mashina = [ ]
do_metro_peshkom = [ ]
for doroga in do_metro:
    if len(doroga) == 1:  # Значит никакой информации не дано
        do_metro_mashina.append('–')
        do_metro_peshkom.append('–')
    elif doroga[1] == 'пешком':
        do_metro_mashina.append('–')
        do_metro_peshkom.append(doroga[0])
    else:
        do_metro_mashina.append(doroga[0])
        do_metro_peshkom.append('–')

Добавляем очередные колонки к таблице.

In [98]:
df['do_metro_peshkom'] = do_metro_peshkom
df['do_metro_mashina'] = do_metro_mashina

### 3.7 Год постройки.

In [99]:
# С годом постройки всё хорошо. Тут уже приведены цифры. 
past_year = data['Год постройки:'].replace(np.nan,'–')
past_year[:10]

1     2012
2        –
3     1965
4        –
5     1972
6     2015
7        –
8     1972
9     1982
10       –
Name: Год постройки:, dtype: object

In [105]:
data['Сдача ГК:'][11]

'2 кв. 2017 года'

In [108]:
# С годом сдачи проблемы. Пренебрежём кварталами и оставим только года. 
re.findall('2\d+', data['Сдача ГК:'][11])

['2017']

In [109]:
future_year = [ ]
for year in data['Сдача ГК:'].replace(np.nan,'–'):
    if year == '–':
        future_year.append('–')
    else:
        future_year.append(re.findall('2\d+', year))

In [110]:
df['past_year'] = past_year
df['future_year'] = future_year

### 3.8 Координаты

Разобьём координаты на широту и доготу объекта. При варке фичей нам так будет гораздо удобнее считать расстояния.

In [111]:
data['Координаты'][1]

'[37.653703,55.744738]'

In [112]:
re.split('\[|,|\]',data['Координаты'][1])

['', '37.653703', '55.744738', '']

In [113]:
re.split('\[|,|\]',data['Координаты'][1])[1]

'37.653703'

In [114]:
re.split('\[|,|\]',data['Координаты'][1])[2]

'55.744738'

In [115]:
longitude = [float(re.split('\[|,|\]',item)[1]) for item in data['Координаты']]  # долгота 
latitude  = [float(re.split('\[|,|\]',item)[2]) for item in data['Координаты']]  # широта

In [116]:
df['latitude'] = latitude
df['longitude'] = longitude

### 3.9   Уже чистые данные
Наша работа здесь окончена. Дальше идёт несколько колонок, с которыми всё хорошо. Трогать их не имеет смысла.

In [117]:
data['Тип продажи:'].value_counts()

свободная                  4696
переуступка                 583
214-ФЗ                      223
альтернатива                 51
предварительный договор      12
договор ЖСК                   1
Name: Тип продажи:, dtype: int64

In [118]:
# Сомнительная переменная 
data['Статус помещения:'].value_counts()

апартаменты    18
пентхаус       11
Name: Статус помещения:, dtype: int64

In [119]:
data['Телефон:'].value_counts()

нет    707
да     409
Name: Телефон:, dtype: int64

In [120]:
data['Ремонт:'].value_counts()

отсутствует      2562
косметический     989
евроремонт        128
дизайнерский       90
Name: Ремонт:, dtype: int64

In [121]:
data['Парковка:'].value_counts()

наземная          2614
подземная          328
многоуровневая       9
открытая             6
на крыше             1
Name: Парковка:, dtype: int64

In [122]:
data['Вид из окна:'].value_counts()

двор            3375
–               1198
улица            556
двор и улица     443
Name: Вид из окна:, dtype: int64

In [123]:
# Сомнительная переменная 
data['Отделка:'].value_counts()

есть    23
Name: Отделка:, dtype: int64

In [125]:
# Название станции метро
#data['Метро'].value_counts()

In [126]:
df['sell_type'] = list(data['Тип продажи:'])
df['phone'] = list(data['Телефон:'])
df['status_doma'] = list(data['Статус помещения:'])
df['repair'] = list(data['Ремонт:'])
df['parking'] = list(data['Парковка:'])
df['view_window'] = list(data['Вид из окна:'])
df['otdelka'] = list(data['Отделка:'])
df['metro_name'] = list(data['Метро'])

## 4. Несколько финальных штрихов

Посмотри на сводную информацию по таблице и обнаружим несколько нюансов, от которых нужно избавиться. Например, многие цифровые данные обладают строковым типом. Это плохо. От этого надо избавиться. Также необходимо заменить все прочерки на nan.

In [127]:
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,...,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name
0,9,7,123000000.0,194.7,121.7,22,21.1-35.43-41.48-23.73,вторичка,–,2,...,55.744738,37.653703,свободная,NaN,NaN,отсутствует,подземная,двор,NaN,"Таганская,"
1,21,3,5579537.0,54.0,30.1,9.2,15.78-14.29,новостройка,панельный дом,1,...,55.633661,37.414421,свободная,NaN,NaN,NaN,NaN,улица,NaN,"Саларьево,"
2,9,5,5200000.0,33,17,7,17,вторичка,–,1,...,55.871930,37.554987,свободная,да,NaN,евроремонт,наземная,улица,NaN,"Петровско-Разумовская,"
3,3,3,1440000.0,29,26,–,26,вторичка,–,0,...,55.648382,37.322593,свободная,NaN,NaN,отсутствует,наземная,–,NaN,"Киевская,"
4,9,1,1540000.0,12,10,–,10,вторичка,–,0,...,55.606690,37.617986,свободная,NaN,NaN,отсутствует,NaN,–,NaN,"Пражская,"

In [128]:
[re.sub('-','+',item) for item in df['RoomSq']][:10]

['21.1+35.43+41.48+23.73',
 '15.78+14.29',
 '17',
 '26',
 '10',
 '10',
 '18',
 '8',
 '–',
 '18.1']

In [139]:
df['RoomSq'] = [re.sub('-| ','+',item) for item in df['RoomSq']]
# по идее с пробелом тут всё будет хорошо!

TypeError: expected string or bytes-like object

In [131]:
df['RoomSq'][1]

'15.78+14.29'

In [132]:
# Насильное вычисление =) 
eval(df['RoomSq'][0])

121.74

In [133]:
range(df.shape[0])

range(0, 5572)

In [134]:
for i in range(df.shape[0]):
    if df['RoomSq'][i] != '–':
        df['RoomSq'][i] = eval(df['RoomSq'][i])

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

SyntaxError: invalid syntax (<string>, line 1)

In [140]:
df['RoomSq'][:10]

0    121.74
1     30.07
2        17
3        26
4        10
5        10
6        18
7         8
8         –
9      18.1
Name: RoomSq, dtype: object

In [141]:
# Заменяем все прочерки на nan.
pd.set_option('display.max_columns', None) # Посмотреть все столбцы

df.replace('–',np.nan, inplace = True)
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz,do_metro_peshkom,do_metro_mashina,past_year,future_year,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name
0,9,7,123000000.0,194.7,121.7,22,121.74,вторичка,NaN,2,2,0,0,3.50,3.0,NaN,NaN,4,NaN,NaN,NaN,55.744738,37.653703,свободная,NaN,NaN,отсутствует,подземная,двор,NaN,"Таганская,"
1,21,3,5579537.0,54.0,30.1,9.2,30.07,новостройка,панельный дом,1,1,1,0,NaN,NaN,1.0,NaN,NaN,10,2012.0,[2017],55.633661,37.414421,свободная,NaN,NaN,NaN,NaN,улица,NaN,"Саларьево,"
2,9,5,5200000.0,33,17,7,17,вторичка,NaN,1,0,0,1,2.64,1.0,NaN,NaN,NaN,16,NaN,NaN,55.871930,37.554987,свободная,да,NaN,евроремонт,наземная,улица,NaN,"Петровско-Разумовская,"
3,3,3,1440000.0,29,26,NaN,26,вторичка,NaN,0,0,0,0,NaN,1.0,NaN,NaN,NaN,25,1965.0,NaN,55.648382,37.322593,свободная,NaN,NaN,отсутствует,наземная,NaN,NaN,"Киевская,"
4,9,1,1540000.0,12,10,NaN,10,вторичка,NaN,0,0,0,0,2.64,1.0,NaN,NaN,16,NaN,NaN,NaN,55.606690,37.617986,свободная,NaN,NaN,отсутствует,NaN,NaN,NaN,"Пражская,"

In [143]:
# Посмотрим на тип данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 31 columns):
Total_floor         5572 non-null int64
Curent_floor        5572 non-null int64
Price               5572 non-null float64
TotalSq             5572 non-null object
LiveSq              5041 non-null object
KichSq              4237 non-null object
RoomSq              4733 non-null object
new_or_not          5572 non-null object
house_type          3010 non-null object
pass_elevator       5572 non-null int64
gruz_elevator       5572 non-null int64
balkon              5572 non-null int64
lodgya              5572 non-null int64
visokiy_potolok     1929 non-null object
sovmest_sanuz       3890 non-null float64
razdeln_sanuz       1094 non-null float64
exist_sanuz         612 non-null object
do_metro_peshkom    1512 non-null object
do_metro_mashina    2554 non-null object
past_year           2016 non-null float64
future_year         1701 non-null object
latitude            5572 non-null float64
longitude           5572 non-null float64
sell_type           5566 non-null object
phone               1116 non-null object
status_doma         29 non-null object
repair              3769 non-null object
parking             2958 non-null object
view_window         4374 non-null object
otdelka             23 non-null object
metro_name          4789 non-null object
dtypes: float64(6), int64(6), object(19)
memory usage: 1.3+ MB

Поменяем у всех данных, которые должны быть числовыми тип.

In [144]:
df['TotalSq'] = df['TotalSq'].astype('float64')
df['LiveSq'] = df['LiveSq'].astype('float64')
df['KichSq'] = df['KichSq'].astype('float64')
# После того, как сы сделали насильное eval, мы можем сменить тип Roomsq
# df['RoomSq'] = df['RoomSq'].astype('float64')
df['visokiy_potolok'] = df['visokiy_potolok'].astype('float64')
df['do_metro_peshkom'] = df['do_metro_peshkom'].astype('float64')
df['do_metro_mashina'] = df['do_metro_mashina'].astype('float64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 31 columns):
Total_floor         5572 non-null int64
Curent_floor        5572 non-null int64
Price               5572 non-null float64
TotalSq             5572 non-null float64
LiveSq              5041 non-null float64
KichSq              4237 non-null float64
RoomSq              4733 non-null object
new_or_not          5572 non-null object
house_type          3010 non-null object
pass_elevator       5572 non-null int64
gruz_elevator       5572 non-null int64
balkon              5572 non-null int64
lodgya              5572 non-null int64
visokiy_potolok     1929 non-null float64
sovmest_sanuz       3890 non-null float64
razdeln_sanuz       1094 non-null float64
exist_sanuz         612 non-null object
do_metro_peshkom    1512 non-null float64
do_metro_mashina    2554 non-null float64
past_year           2016 non-null float64
future_year         1701 non-null object
latitude            5572 non-null float64
longitude           5572 non-null float64
sell_type           5566 non-null object
phone               1116 non-null object
status_doma         29 non-null object
repair              3769 non-null object
parking             2958 non-null object
view_window         4374 non-null object
otdelka             23 non-null object
metro_name          4789 non-null object
dtypes: float64(12), int64(6), object(13)
memory usage: 1.3+ MB

In [146]:
df.to_csv('clean_data_for_work.csv')

## 5 Ответы на глупые вопросы

In [147]:
df.head()

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz,do_metro_peshkom,do_metro_mashina,past_year,future_year,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name
0,9,7,123000000.0,194.7,121.7,22.0,121.74,вторичка,NaN,2,2,0,0,3.50,3.0,NaN,NaN,4.0,NaN,NaN,NaN,55.744738,37.653703,свободная,NaN,NaN,отсутствует,подземная,двор,NaN,"Таганская,"
1,21,3,5579537.0,54.0,30.1,9.2,30.07,новостройка,панельный дом,1,1,1,0,NaN,NaN,1.0,NaN,NaN,10.0,2012.0,[2017],55.633661,37.414421,свободная,NaN,NaN,NaN,NaN,улица,NaN,"Саларьево,"
2,9,5,5200000.0,33.0,17.0,7.0,17,вторичка,NaN,1,0,0,1,2.64,1.0,NaN,NaN,NaN,16.0,NaN,NaN,55.871930,37.554987,свободная,да,NaN,евроремонт,наземная,улица,NaN,"Петровско-Разумовская,"
3,3,3,1440000.0,29.0,26.0,NaN,26,вторичка,NaN,0,0,0,0,NaN,1.0,NaN,NaN,NaN,25.0,1965.0,NaN,55.648382,37.322593,свободная,NaN,NaN,отсутствует,наземная,NaN,NaN,"Киевская,"
4,9,1,1540000.0,12.0,10.0,NaN,10,вторичка,NaN,0,0,0,0,2.64,1.0,NaN,NaN,16.0,NaN,NaN,NaN,55.606690,37.617986,свободная,NaN,NaN,отсутствует,NaN,NaN,NaN,"Пражская,"

In [148]:
df['Price'].mean()

23390747015029.277

In [151]:
df['Price'].median()

1990000.0

In [153]:
df[df['Price'] == df['Price'].max()]

,Total_floor,Curent_floor,Price,TotalSq,LiveSq,KichSq,RoomSq,new_or_not,house_type,pass_elevator,gruz_elevator,balkon,lodgya,visokiy_potolok,sovmest_sanuz,razdeln_sanuz,exist_sanuz,do_metro_peshkom,do_metro_mashina,past_year,future_year,latitude,longitude,sell_type,phone,status_doma,repair,parking,view_window,otdelka,metro_name
812,35,6,7.000000e+15,480.0,360.0,80.0,242,вторичка,NaN,4,2,4,4,NaN,4.0,NaN,NaN,3.0,NaN,NaN,NaN,55.79848,37.520671,свободная,NaN,NaN,дизайнерский,подземная,двор и улица,NaN,"Сокол,"
4230,35,6,7.000000e+15,480.0,360.0,80.0,56+38+17+22+37+23+28+21,вторичка,NaN,4,2,4,4,NaN,4.0,NaN,NaN,3.0,NaN,NaN,NaN,55.79848,37.520671,свободная,NaN,NaN,дизайнерский,подземная,двор и улица,NaN,"Сокол,"